security/app-schema/mappings/decsiraogc_operecaptazione/pozzo/_schemas/pozzo.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:decsiraogc_operecaptazione="http://www.regione.piemonte.it/ambiente/decsiraogc_operecaptazione/1.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.regione.piemonte.it/ambiente/decsiraogc_operecaptazione/1.0" version="1.0">
	
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="0/gml.xsd"/> 
	
	
	<!-- elements -->
	<!-- here extend  gml:AbstractObject o gml:AbstractFeature -->
	
	<!-- decsira_geo_pozzo  id= id_pozzo-->
	<element name="Pozzo" substitutionGroup="gml:AbstractFeature" type="decsiraogc_operecaptazione:PozzoType"/>
	
	<!-- decsira_t_filtro_pozzo  id= id_filtro_pozzo-->
	<element name="FiltroPozzo" substitutionGroup="gml:AbstractObject" type="decsiraogc_operecaptazione:FiltroPozzoType"/>
	
	<!-- decsira_t_oggetto_associato_derivazioni  id= identificativo-->
	<element name="OggettoAssociatoPozzo" substitutionGroup="gml:AbstractObject" type="decsiraogc_operecaptazione:OggettoAssociatoPozzoType"/>
	
	<!-- decsira_t_cementazione_pozzo  id= id_cementazione_pozzo-->
	<element name="CementazPozzo" substitutionGroup="gml:AbstractObject" type="decsiraogc_operecaptazione:CementazPozzoType"/>
	
	<!-- decsira_t_diametro_colonna_pozzo  id= id_diamcolon_pozzo-->
	<element name="DiamColonPozzo" substitutionGroup="gml:AbstractObject" type="decsiraogc_operecaptazione:DiamColonPozzoType"/>
	
	<!-- decsira_t_emungim_durata_pozzo  id= id_emungdurata_pozzo-->
	<element name="EmungDurataPozzo" substitutionGroup="gml:AbstractObject" type="decsiraogc_operecaptazione:EmungDurataPozzoType"/>
	
	<!-- decsira_t_emungim_gradini_pozzo  id= id_emunggradini_pozzo-->
	<element name="EmungGradiniPozzo" substitutionGroup="gml:AbstractObject" type="decsiraogc_operecaptazione:EmungGradiniPozzoType"/>
	
	<!-- decsira_t_dreno_pozzo  id= id_dreno_pozzo-->
	<element name="DrenoPozzo" substitutionGroup="gml:AbstractObject" type="decsiraogc_operecaptazione:DrenoPozzoType"/>
	
	<!-- decsira_t_pompa_idraul_pozzo  id= id_pompaidr_pozzo-->
	<element name="PompaIdraulPozzo" substitutionGroup="gml:AbstractObject" type="decsiraogc_operecaptazione:PompaIdraulPozzoType"/>
	
	<!-- decsira_t_prelievo_perutenza_captazione  id= id_prelievo_utenza_captazione-->
	<element name="PrelievoPerUtenzaPozzo" substitutionGroup="gml:AbstractObject" type="decsiraogc_operecaptazione:PrelievoPerUtenzaPozzoType"/>
	
	<!-- decsira_t_derivazioni_captazioni  id= id_deriv_capt-->
	<element name="PozzoDerivazione" substitutionGroup="gml:AbstractObject" type="decsiraogc_operecaptazione:PozzoDerivazioneType"/>
	

	
	<!-- types -->
	<!-- here extend gml:AbstractGMLType o gml:AbstractFeatureType -->
	
	<complexType name="PozzoType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
				
					<xs:element minOccurs="1" name="idPozzo" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idoggtipoPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>

					<xs:element minOccurs="1" name="geom_pozzo" type="gml:GeometryPropertyType"/>

					<xs:element maxOccurs="1" minOccurs="0" name="codiceROCPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceSIIPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkTipoFaldaPozzo" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desTipoFaldaPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceRilievoPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="denominazionePozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkComunePozzo" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="istatComunePozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desComunePozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="siglaProvinciaPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desProvinciaPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="localitaPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="fkStatoPozzo" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="1" name="desStatoPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="qMaxDerivPozzo" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="qMedDerivPozzo" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="volMaxConcPozzo" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkStatoEserPozzo" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desStatoEserPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="quotaPCPozzo" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="profonditaPozzo" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="dataCostruzionePozzo" type="xs:date"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgCampoPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgPozzoArtesiano">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgDispStratPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgDispMisPiezoPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="numPiezAssocPozzo" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="codAssolutoPozzo" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="denomImpAcqPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="denomAcquedPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkAreaIdroPozzo" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desAreaIdroPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkBacIdroPozzo" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desBacIdroPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkBacIdromontPozzo" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desBacIdromontPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="elencoDerivCodrilPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="elencoDerivCodutenzaPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="elencoDerivNclasPratPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgMisuratorePozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoPotabilePozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<!-- oggetti innestati -->

					<xs:element maxOccurs="unbounded" minOccurs="0" name="filtroPozzo" type="decsiraogc_operecaptazione:FiltroPozzoPropertyType"/>
					
					<xs:element maxOccurs="unbounded" minOccurs="0" name="oggettoAssociatoPozzo" type="decsiraogc_operecaptazione:OggettoAssociatoPozzoPropertyType"/>
				
					<xs:element maxOccurs="unbounded" minOccurs="0" name="cementazPozzo" type="decsiraogc_operecaptazione:CementazPozzoPropertyType"/>
					
					<xs:element maxOccurs="unbounded" minOccurs="0" name="diamColonPozzo" type="decsiraogc_operecaptazione:DiamColonPozzoPropertyType"/>
					
					<xs:element maxOccurs="unbounded" minOccurs="0" name="emungDurataPozzo" type="decsiraogc_operecaptazione:EmungDurataPozzoPropertyType"/>
					
					<xs:element maxOccurs="unbounded" minOccurs="0" name="emungGradiniPozzo" type="decsiraogc_operecaptazione:EmungGradiniPozzoPropertyType"/>
					
					<xs:element maxOccurs="unbounded" minOccurs="0" name="drenoPozzo" type="decsiraogc_operecaptazione:DrenoPozzoPropertyType"/>
					
					<xs:element maxOccurs="unbounded" minOccurs="0" name="pompaIdraulPozzo" type="decsiraogc_operecaptazione:PompaIdraulPozzoPropertyType"/>
					
					<xs:element maxOccurs="unbounded" minOccurs="0" name="prelievoPerUtenzaPozzo" type="decsiraogc_operecaptazione:PrelievoPerUtenzaPozzoPropertyType"/>
					
					<xs:element maxOccurs="unbounded" minOccurs="0" name="pozzoDerivazione" type="decsiraogc_operecaptazione:PozzoDerivazionePropertyType"/>

				</sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="FiltroPozzoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="idFiltroPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idPozzo" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idFiltro" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idOrigineDatoFiltro" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desOrigineDatoFiltro">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idTipoFiltro" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desTipoFiltro">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="profonditaDaFiltro" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="profonditaAFiltro" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="aperturaFiltro" type="xs:decimal"/>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>
		
	<complexType name="OggettoAssociatoPozzoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="identificativo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element minOccurs="1" name="idoggtipoprinc">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="tipoAlberatura">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idPozzo" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idOggetto" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idTipoOggetto" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="desTipoOggetto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					 
					 <xs:element minOccurs="1" name="nomeWFS">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idStatoOggetto" type="xs:integer"/>
					
					 <xs:element maxOccurs="1" minOccurs="0" name="codiceRocCaptColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element maxOccurs="1" minOccurs="0" name="codiceRilCaptColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element maxOccurs="1" minOccurs="0" name="denomCaptColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element maxOccurs="1" minOccurs="0" name="codiceRilDerColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="matricolaMisuColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceRilMisuColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="nascostoCittadino" type="xs:boolean"/>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	<complexType name="CementazPozzoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="idCementazionePozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idPozzo" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idCementazione" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkMaterCementazPozzo" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desMaterCementazPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					 
					<xs:element maxOccurs="1" minOccurs="0" name="profonditaDaCementazPozzo" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="profonditaACementazPozzo" type="xs:decimal"/>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="DiamColonPozzoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="idDiamcolonPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idPozzo" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idDiametroColonna" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="diametroDiamcolonPozzo" type="xs:integer"/>
					 
					<xs:element maxOccurs="1" minOccurs="0" name="profonditaDaDiamcolonPozzo" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="profonditaADiamcolonPozzo" type="xs:decimal"/>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="EmungDurataPozzoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="idEmungdurataPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idPozzo" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idEmungdurata" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="dataMisuraEmungdurataPozzo" type="xs:date"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="soggEsecutEmungdurataPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					 
					<xs:element maxOccurs="1" minOccurs="0" name="qCostanteEmungdurataPozzo" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="durataEmungdurataPozzo" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="trasmissivitaEmungdurataPozzo" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="coeffImmagEmungdurataPozzo" type="xs:decimal"/>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	<complexType name="EmungGradiniPozzoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="idEmunggradiniPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idPozzo" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idEmunggradini" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="dataMisuraEmunggradiniPozzo" type="xs:date"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="soggEsecutEmunggradiniPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					 
					<xs:element maxOccurs="1" minOccurs="0" name="qCriticaEmunggradiniPozzo" type="xs:decimal"/>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="DrenoPozzoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="idDrenoPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idPozzo" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idDreno" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="profonditaDaDrenoPozzo" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="profonditaADrenoPozzo" type="xs:decimal"/>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="PompaIdraulPozzoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="idPompaidrPozzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idPozzo" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idPompaIdraulica" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="potenzaMotorePompaidrPozzo" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="qMaxPompaidrPozzo" type="xs:decimal"/>
					
					<xs:element minOccurs="1" name="prevalenzaPompaidrPozzo" type="xs:integer"/>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="PrelievoPerUtenzaPozzoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="idPrelievoUtenzaCaptazione">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="35"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idOperaCapt" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idDerivazione" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idPeriodoPrelievo" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="codAssoluto" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="fkTipoOggetto" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="deTipoOggetto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="fkStatoDeriv" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desStatoDeriv">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceRilievoDeriv">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="periodoPrelievoDa">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="periodoPrelievoA">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="portataMaxDerivata" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="portataMedDerivata" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="volumeMaxConcessione" type="xs:decimal"/>
					
					<xs:element minOccurs="1" name="fkStatoOpera" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desStatoOpera">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="PozzoDerivazioneType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="idDerivCapt">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idDerivazione" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idPozzo" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceRilievoDeriv">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="classificazionePratica">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
				
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoEnergetico">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="flgUsoRiqualifEnergia">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="flgUsoProduzione">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="flgUsoLavagInerti">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
						
					<xs:element minOccurs="1" name="flgUsoZootecnico">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="flgUsoPiscicolo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="flgUsoPotabile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="flgUsoDomestico">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="flgUsoCivile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="flgUsoAgricolo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<!-- property types -->
	<complexType name="FiltroPozzoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:FiltroPozzo"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	<complexType name="OggettoAssociatoPozzoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:OggettoAssociatoPozzo"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	<complexType name="CementazPozzoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:CementazPozzo"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	<complexType name="DiamColonPozzoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:DiamColonPozzo"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	<complexType name="EmungDurataPozzoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:EmungDurataPozzo"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	<complexType name="EmungGradiniPozzoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:EmungGradiniPozzo"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	<complexType name="DrenoPozzoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:DrenoPozzo"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	<complexType name="PompaIdraulPozzoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:PompaIdraulPozzo"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	<complexType name="PrelievoPerUtenzaPozzoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:PrelievoPerUtenzaPozzo"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	<complexType name="PozzoDerivazionePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:PozzoDerivazione"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	

</schema>