security/app-schema/xsd/impiantoRifiuti.xsd

<?xml version="1.0"?>
<schema version="1.0" 
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
	xmlns:decsiraogc_rifiuti="http://www.regione.piemonte.it/ambiente/decsiraogc_rifiuti/1.0"
    targetNamespace="http://www.regione.piemonte.it/ambiente/decsiraogc_rifiuti/1.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<import namespace="http://www.opengis.net/gml/3.2" 
	schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" /> 
	
	<!-- elements -->
	<!-- qui estendono gml:AbstractObject o gml:AbstractFeature -->
	
	<!-- decsira_geo_impianto_rifiuti_aua_noaua  id= id_rifiuto_generico-->
	<element name="ImpiantoRifiutiAUAnoAUA" type="decsiraogc_rifiuti:ImpiantoRifiutiAUAnoAUAType" substitutionGroup="gml:AbstractFeature" />
	
	<!-- decsira_geo_stabilimento id= codice_sira -->
	<element name="StabilimentoSemplice" type="decsiraogc_rifiuti:StabilimentoSempliceType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_azienda  id= id_azienda -->
	<element name="Azienda" type="decsiraogc_rifiuti:AziendaType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_autorizzazione_amb id= id_autorizzamb_sede -->
	<element name="AutorizAmbImpRifiutiAUAnoAUA" type="decsiraogc_rifiuti:AutorizAmbImpRifiutiAUAnoAUAType" substitutionGroup="gml:AbstractObject" />
	
	
	<!-- decsira_t_TipoImpianto_Rifiuti id= identificativo -->
	<element name="TipoImpiantoRifiuto" type="decsiraogc_rifiuti:TipoImpiantoRifiutoType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_scheda_autorizzate_AUA_noAUA id= id_scheda_rifiuto -->
	<element name="SchedaAutorizzateAUAnoAUA" type="decsiraogc_rifiuti:SchedaAutorizzateAUAnoAUAType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_codici_CER id= identificavo -->
	<element name="CodiciCER" type="decsiraogc_rifiuti:CodiciCERType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_attivita_recupero_rifiuti_AUA_noAUA id= identificativo -->
	<element name="AttivitaRecuperoRifiuti" type="decsiraogc_rifiuti:AttivitaRecuperoRifiutiType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_attivita_recupero_rifiuti_AUA_noAUA id= identificativo -->
	<element name="OperazioniRecuperoRifiutiAUAnoAUA" type="decsiraogc_rifiuti:OperazioniRecuperoRifiutiAUAnoAUAType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_stabilimento_ateco  id= codice_sira -->
	<element name="AttivitaProdutImpRifiuti" type="decsiraogc_rifiuti:AttivitaProdutImpRifiutiType" substitutionGroup="gml:AbstractObject" />
	<!-- types -->
	<!-- qui estendono gml:AbstractGMLType o gml:AbstractFeatureType -->
	
	<complexType name="ImpiantoRifiutiAUAnoAUAType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
					<xs:element name="identificativoRifiutoGenerico" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idImpiantoRifiutiAUAnoAUA" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idTipologiaImpianto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desTipologiaImpianto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="geometria" type="gml:GeometryPropertyType" minOccurs="1" />
					<xs:element name="idAutorizzazioneAmbientale" type="xs:decimal" minOccurs="1" />
					<xs:element name="idStato" type="xs:decimal" minOccurs="1" />
					<xs:element name="desStato" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="istatComune" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desComune" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="istatProvincia" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desProvincia" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
					<xs:element name="numeroProvveIscrizione " minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="dataProvvIscrizione" type="xs:date" minOccurs="1" />
					<xs:element name="dataScadenza" type="xs:date" minOccurs="1" />
					<xs:element name="rifiutoPericoloso" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="3" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="elencoTipologiaImpRifiuto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="elencoOperazioniRecupero" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="quantitaInviataTotaleRecupero" type="xs:decimal" minOccurs="0" />
					<xs:element name="capacitaMaxStocct " type="xs:decimal" minOccurs="0" />
					<xs:element name="capacitaMaxStoccMc " type="xs:decimal" minOccurs="0" />
					<xs:element name="interesseNazionale" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
				
					<!-- oggetti innestati -->

					<xs:element name="stabilimentoSemplice" type="decsiraogc_rifiuti:StabilimentoSemplicePropertyType" minOccurs="0" maxOccurs="1" />

					<xs:element name="azienda" type="decsiraogc_rifiuti:AziendaPropertyType" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="autorizAmbImpRifiutiAUAnoAUA" type="decsiraogc_rifiuti:AutorizAmbImpRifiutiAUAnoAUAPropertyType" minOccurs="1" maxOccurs="unbounded" />
					
					<xs:element name="tipoImpiantoRifiuto" type="decsiraogc_rifiuti:TipoImpiantoRifiutoPropertyType" minOccurs="1" maxOccurs="unbounded" />
					
					<xs:element name="schedaAutorizzateAUAnoAUA" type="decsiraogc_rifiuti:SchedaAutorizzateAUAnoAUAPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="attivitaProdutImpRifiuti" type="decsiraogc_rifiuti:AttivitaProdutImpRifiutiPropertyType" minOccurs="0" maxOccurs="unbounded" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="StabilimentoSempliceType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				    <xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
					<xs:element name="nome" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="istatComune" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="nomeComune" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="istatProvincia" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desProvincia" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="indirizzo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="emailPec" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="industriaAgroAlimentare" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="ricircoloInterno" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="modalitaRicircolo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="percentualeRicircolo" type="xs:decimal" minOccurs="0" />
					<xs:element name="volumeAnnuoRicircolo" type="xs:decimal" minOccurs="0" />
					<xs:element name="volumeGiornoRicircolo" type="xs:decimal" minOccurs="0" />
					<xs:element name="idStato" type="xs:integer" minOccurs="0" />
					<xs:element name="desStato" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="tipoProvvedimentoAttivo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="tipoProvvedimentoStorico" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="tematica" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idTipologiaImpianto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desTipologiaImpianto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="abitantiEquivalentiTrattati" type="xs:decimal" minOccurs="0" />
					<xs:element name="idDepuratore" type="xs:integer" minOccurs="0" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	
	<complexType name="AziendaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idAzienda" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceFiscale" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="16" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="partitaIVA" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="11" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="denominazione" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="fkL2" type="xs:integer" minOccurs="0" />
					<xs:element name="indirizzo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="istatComune" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desComune" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="istatProvincia" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desProvincia" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="telefono" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="fax" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="cognomeTitolare" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="nomeTitolare" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="numeroCIAA" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="annoCIAA" type="xs:decimal" minOccurs="0" />
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="0" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="AutorizAmbImpRifiutiAUAnoAUAType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idAutorizzazioneAmbientaleSede" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idAutorizzazioneAmbientale" type="xs:decimal" minOccurs="1" />
					<xs:element name="idTipoProvvedimento" type="xs:decimal" minOccurs="1" />
					<xs:element name="tipoProvvedimento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="estremiProvvedimento" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="dataProvvedimento" type="xs:date" minOccurs="0" />
					<xs:element name="dataScadenza" type="xs:date" minOccurs="0" />
					<xs:element name="idEnteCompetente" type="xs:decimal" minOccurs="0" />
					<xs:element name="desEnteCompetente" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
					<xs:element name="idStato" type="xs:decimal" minOccurs="0" />
					<xs:element name="desStato" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	
	<complexType name="TipoImpiantoRifiutoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="identificativoUnivoco" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="identificativoRifiutoGenerico" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desTipoImpiantoRifiuto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idTipoImpiantoRifiuto" type="xs:integer" minOccurs="0" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="SchedaAutorizzateAUAnoAUAType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idSchedaRifiuto" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="identificativoRifiutoGenerico" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idAttivita" type="xs:decimal" minOccurs="1" />
					<xs:element name="desAttivita" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="rifiutoPericoloso" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="3" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idTipoRecupero" type="xs:integer" minOccurs="1" />
					<xs:element name="desTipoRecupero" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idTipoRifiuto" type="xs:integer" minOccurs="1" />
					<xs:element name="codiceTipoRifiuto" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desTipoRifiuto" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<!-- innesto oggetti -->
					<xs:element name="codiciCER" type="decsiraogc_rifiuti:CodiciCERPropertyType" minOccurs="1" maxOccurs="unbounded" />
					
					<xs:element name="attivitaRecuperoRifiuti" type="decsiraogc_rifiuti:AttivitaRecuperoRifiutiPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="operazioniRecuperoRifiutiAUAnoAUA" type="decsiraogc_rifiuti:OperazioniRecuperoRifiutiAUAnoAUAPropertyType" minOccurs="1" maxOccurs="unbounded" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="CodiciCERType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="identificativoUnivoco" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idSchedaRifuto" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="famigliaCER" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="8" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="classeCER" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="8" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceCER" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="8" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desCER" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="300" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="flagPericoloso" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idAttivita" type="xs:decimal" minOccurs="1" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="AttivitaRecuperoRifiutiType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="identificativoUnivoco" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idSchedaRifuto" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idAttivitaRecupero" type="xs:integer" minOccurs="1" />
					<xs:element name="desAttivitaRecupero" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceAttivitaRecupero" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="OperazioniRecuperoRifiutiAUAnoAUAType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="identificativoUnivoco" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idSchedaRifuto" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idOperazRecupero" type="xs:integer" minOccurs="1" />
					<xs:element name="desOperazRecupero" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codOperazRecupero" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="messRiservaQtaMaxGestTanno" type="xs:decimal" minOccurs="1" />
					<xs:element name="messRiservaQtaMaxStoccT" type="xs:decimal" minOccurs="1" />
					<xs:element name="messRiservaQtaMaxStoccMc" type="xs:decimal" minOccurs="1" />
					<xs:element name="qtaMaxRecupero" type="xs:decimal" minOccurs="0" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="AttivitaProdutImpRifiutiType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				<xs:element name="idStabilimentoAteco" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codAteco" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desAteco" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<!-- property types -->
	<complexType name="StabilimentoSemplicePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti:StabilimentoSemplice" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="AziendaPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti:Azienda" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
		
	
	<complexType name="AutorizAmbImpRifiutiAUAnoAUAPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti:AutorizAmbImpRifiutiAUAnoAUA" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	
	<complexType name="TipoImpiantoRifiutoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti:TipoImpiantoRifiuto" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="SchedaAutorizzateAUAnoAUAPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti:SchedaAutorizzateAUAnoAUA" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="CodiciCERPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti:CodiciCER" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="TipoImpiantoRifiutoSchedaPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti:TipoImpiantoRifiutoScheda" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="AttivitaRecuperoRifiutiPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti:AttivitaRecuperoRifiuti" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="OperazioniRecuperoRifiutiAUAnoAUAPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti:OperazioniRecuperoRifiutiAUAnoAUA" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="AttivitaProdutImpRifiutiPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti:AttivitaProdutImpRifiuti" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
</schema>