security/app-schema/xsd/sipra_AEA.xsd

<?xml version="1.0"?>
<schema version="1.0" 
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:siraemissioni="http://www.regione.piemonte.it/ambiente/siraemissioni/1.0"
    targetNamespace="http://www.regione.piemonte.it/ambiente/siraemissioni/1.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <import namespace="http://www.opengis.net/gml/3.2" 
	schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" />
	
	
	<!-- elements -->
	<!-- qui estendono gml:AbstractObject o gml:AbstractFeature -->
	
	<!-- decsira_geo_stabilimento -->
	<element name="Stabilimento" type="siraemissioni:StabilimentoType" substitutionGroup="gml:AbstractFeature" />
	
	<!-- decsira_t_autorizzazione_amb -->
	<element name="AutorizzazioneAmbientale" type="siraemissioni:AutorizzazioneAmbientaleType" substitutionGroup="gml:AbstractObject" />
	
	<element name="AutorizzazioneAmbientalePuntoEmissione" type="siraemissioni:AutorizzazioneAmbientalePuntoEmissioneType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_tematica -->
	<element name="Tematica" type="siraemissioni:TematicaType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_sottoattivita id= id_sottoattivita -->
	<element name="SottoAttivitaEmissiva" type="siraemissioni:SottoAttivitaEmissivaType" substitutionGroup="gml:AbstractObject" />
	
	<element name="SottoAttivitaEmissivaPuntoEmissione" type="siraemissioni:SottoAttivitaEmissivaPuntoEmissioneType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_dettaglio_attivita id=id_dettaglio_attivita -->
	<element name="DettaglioAttivita" type="siraemissioni:DettaglioAttivitaType" substitutionGroup="gml:AbstractObject" />
	
	<element name="DettaglioAttivitaPuntoEmissione" type="siraemissioni:DettaglioAttivitaPuntoEmissioneType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_azienda  id = id_imp_azienda-->
	<element name="Azienda" type="siraemissioni:AziendaType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_stabilimento_ateco id = id_stab_ateco -->
	<element name="AttivitaProduttiva" type="siraemissioni:AttivitaProduttivaType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_sede_attiv_tiposede - id =id_sede_attiv_ts -->
	<element name="TipologiaImpianto" type="siraemissioni:TipologiaImpiantoType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_cert_ambientale id=id_cert_amb -->
	<element name="CertificazioneAmbientale" type="siraemissioni:CertificazioneAmbientaleType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_geo_oggetto_associato -->
	<element name="OggettoAssociato" type="siraemissioni:OggettoAssociatoType" substitutionGroup="gml:AbstractFeature" />
	
	<!-- decsira_t_sorgenti_rum -->
	<element name="VerificaSorgentiRumorose" type="siraemissioni:VerificaSorgentiRumoroseType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_attiv_bassa_rum -->
	<element name="AttivitaBassaRumorosita" type="siraemissioni:AttivitaBassaRumorositaType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_prelievo_acqua  -->
	<element name="PrelievoAcqua" type="siraemissioni:PrelievoAcquaType" substitutionGroup="gml:AbstractObject" />
	
	<!-- qui di seguito le altre tabelle per il punto di emissione che conterrà sia stabilimento con autorizzazioneAmbientale -->
	
	<!-- decsira_t_pto_provenienza id=id_punto_prov -->
	<element name="ProvenienzaEmissione" type="siraemissioni:ProvenienzaEmissioneType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_pto_abbatt id=id_punto_abbatt -->
	<element name="ImpiantoDiAbbattimento" type="siraemissioni:ImpiantoDiAbbattimentoType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_pto_inquinante -->
	<element name="Inquinante" type="siraemissioni:InquinanteType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_pto_combust id=id_imp_combust  -->
	<element name="ImpiantoDiCombustione" type="siraemissioni:ImpiantoDiCombustioneType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_geo_pto_emissione_camino -->
	<element name="PuntoEmissione" type="siraemissioni:PuntoEmissioneType" substitutionGroup="gml:AbstractFeature" />
	
	<!-- types -->
	<!-- qui estendono gml:AbstractGMLType o gml:AbstractFeatureType -->
	
	<complexType name="StabilimentoType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
				    
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
					
					<xs:element name="nome" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="istatComune" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="nomeComune" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					
					<xs:element name="istatProvincia" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="desProvincia" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="indirizzo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="emailPec" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="industriaAgroAlimentare" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="ricircoloInterno" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="modalitaRicircolo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="percentualeRicircolo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="volumeAnnuoRicircolo" type="xs:decimal" minOccurs="0" />
					
					<xs:element name="volumeGiornoRicircolo" type="xs:decimal" minOccurs="0" />
					
					<xs:element name="idStato" type="xs:integer" minOccurs="0" />
					
					<xs:element name="idDepuratore" type="xs:integer" minOccurs="0" />
					
					<xs:element name="desStato" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="tipoProvvedimentoAttivo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="tipoProvvedimentoStorico" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="tematica" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idTipologiaImpianto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="desTipologiaImpianto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="abitantiEquivalentiTrattati" type="xs:decimal" minOccurs="0" />
					
					<xs:element name="geometria" type="gml:GeometryPropertyType" minOccurs="1" />
					
					<!-- innesto oggetti piu complessi -->
					
					<!-- qui ci vuole un join -->
					 <xs:element name="autorizzazioneAmbientale" type="siraemissioni:AutorizzazioneAmbientalePropertyType" minOccurs="0" maxOccurs="unbounded" />
					 
					  <!-- qui ci vuole un join -->
					  <xs:element name="azienda" type="siraemissioni:AziendaPropertyType" minOccurs="1" maxOccurs="unbounded" />
					  <!-- qui ci vuole un join -->
					  <xs:element name="attivitaProduttiva" type="siraemissioni:AttivitaProduttivaPropertyType"   minOccurs="0" maxOccurs="unbounded" />
					  <!-- qui ci vuole un join -->
					  <xs:element name="tipologiaImpianto" type="siraemissioni:TipologiaImpiantoPropertyType" minOccurs="0" maxOccurs="unbounded" />
					  <!-- qui ci vuole un join -->
					 <xs:element name="certificazioneAmbientale" type="siraemissioni:CertificazioneAmbientalePropertyType" minOccurs="0" maxOccurs="unbounded" />
					 <!-- ha un elemento GEO -->
					 <xs:element name="oggettoAssociato" type="siraemissioni:OggettoAssociatoPropertyType" minOccurs="0" maxOccurs="unbounded" />
					 <!-- qui ci vuole un join -->
					  <xs:element name="verificaSorgentiRumorose" type="siraemissioni:VerificaSorgentiRumorosePropertyType" minOccurs="0" maxOccurs="1" />
					  <!-- qui ci vuole un join -->
					  <xs:element name="attivitaBassaRumorosita" type="siraemissioni:AttivitaBassaRumorositaPropertyType" minOccurs="0" maxOccurs="unbounded" />
					  <!-- qui ci vuole un join -->
					  <xs:element name="prelievoAcqua" type="siraemissioni:PrelievoAcquaPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	
	<complexType name="TematicaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element name="idTematica" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idAttivita" type="xs:decimal" minOccurs="1" />
					
					<xs:element name="idIstanza"  type="xs:decimal" minOccurs="1" />
					
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
					
					<xs:element name="descrizione" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	
	<complexType name="AutorizzazioneAmbientaleType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element name="idAutorizzazioneAmbientaleSede" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idAutorizzazioneAmbientale" type="xs:decimal" minOccurs="1" />
					
					<xs:element name="idTipoProvvedimento" type="xs:decimal" minOccurs="1" />
					
					<xs:element name="tipoProvvedimento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="desTematica" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="estremiProvvedimento" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="dataProvvedimento" type="xs:date" minOccurs="0" />
					
					<xs:element name="dataScadenza" type="xs:date" minOccurs="0" />
					
					<xs:element name="idEnteCompetente" type="xs:decimal" minOccurs="0" />
					
					<xs:element name="desEnteCompetente" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
					
					<xs:element name="idStato" type="xs:decimal" minOccurs="0" />
					
					<xs:element name="desStato" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<!-- innesto gli oggetti piu complessi -->
					
					<!-- condizione di join mediante id_istanza -->
					 <xs:element name="tematica" type="siraemissioni:TematicaPropertyType" minOccurs="1" maxOccurs="unbounded" />
					 <!-- qui ci vuole un join -->
					  <xs:element name="sottoAttivitaEmissiva" type="siraemissioni:SottoAttivitaEmissivaPropertyType" minOccurs="0" maxOccurs="unbounded" />
					 <!-- qui ci vuole un join -->
					 <xs:element name="dettaglioAttivita" type="siraemissioni:DettaglioAttivitaPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="AutorizzazioneAmbientalePuntoEmissioneType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element name="idAutorizzazioneAmbientaleSede" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idAutorizzazioneAmbientale" type="xs:decimal" minOccurs="1" />
					
					<xs:element name="idTipoProvvedimento" type="xs:decimal" minOccurs="1" />
					
					<xs:element name="tipoProvvedimento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="estremiProvvedimento" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="dataProvvedimento" type="xs:date" minOccurs="0" />
					
					<xs:element name="dataScadenza" type="xs:date" minOccurs="0" />
					
					<xs:element name="idEnteCompetente" type="xs:decimal" minOccurs="0" />
					
					<xs:element name="desEnteCompetente" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
					
					<xs:element name="idStato" type="xs:decimal" minOccurs="0" />
					
					<xs:element name="desStato" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<!-- innesto gli oggetti piu complessi -->
					
					 <!-- qui ci vuole un join -->
					  <xs:element name="sottoAttivitaEmissivaPuntoEmissione" type="siraemissioni:SottoAttivitaEmissivaPuntoEmissionePropertyType" minOccurs="0" maxOccurs="unbounded" />
					 <!-- qui ci vuole un join -->
					 <xs:element name="dettaglioAttivitaPuntoEmissione" type="siraemissioni:DettaglioAttivitaPuntoEmissionePropertyType" minOccurs="0" maxOccurs="unbounded" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="SottoAttivitaEmissivaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idSottoAttivitaEmissiva" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idAutorizzazioneAmbientale" type="xs:integer" minOccurs="0" />
					<xs:element name="desSottoAttivitaEmissiva" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="SottoAttivitaEmissivaPuntoEmissioneType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idSottoAttivitaEmissiva" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idAutorizzazioneAmbientale" type="xs:integer" minOccurs="0" />
					<xs:element name="desSottoAttivitaEmissiva" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="DettaglioAttivitaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				   <xs:element name="idDettaglioAttivita" type="xs:integer" minOccurs="1" />
				   <xs:element name="idAutorizzazioneAmbientale" type="xs:decimal" minOccurs="0" />
					<xs:element name="desDettaglioAttivita" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="quantita" type="xs:integer" minOccurs="0" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="DettaglioAttivitaPuntoEmissioneType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				   <xs:element name="idDettaglioAttivita" type="xs:integer" minOccurs="1" />
				   <xs:element name="idAutorizzazioneAmbientale" type="xs:decimal" minOccurs="0" />
					<xs:element name="desDettaglioAttivita" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="quantita" type="xs:integer" minOccurs="0" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="AziendaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idAzienda" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceFiscale" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="16" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="partitaIVA" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="11" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="denominazione" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="fkL2" type="xs:integer" minOccurs="0" />
					<xs:element name="indirizzo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="istatComune" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desComune" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="istatProvincia" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desProvincia" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="telefono" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="fax" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="cognomeTitolare" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="nomeTitolare" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="numeroCIAA" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="annoCIAA" type="xs:decimal" minOccurs="0" />
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="0" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="AttivitaProduttivaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				<xs:element name="idStabilimentoAteco" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codAteco" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desAteco" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="TipologiaImpiantoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				<xs:element name="idSedeAttivitaTs" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idTipoSede" type="xs:integer" minOccurs="1" />
					<xs:element name="descrizioneTipoSede" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idIstanza" type="xs:decimal" minOccurs="1" />
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
					<xs:element name="idAttivita" type="xs:decimal" minOccurs="1" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="CertificazioneAmbientaleType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idCertificazioneAmbientale" type="xs:integer" minOccurs="1" />
					<xs:element name="idTipoCertificazione" type="xs:integer" minOccurs="1" />
					<xs:element name="desTipoCertificazione" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="dataRilascio" type="xs:date" minOccurs="1" />
					<xs:element name="idEnteCompetente" type="xs:integer" minOccurs="1" />
					<xs:element name="desEnteCompetente" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="OggettoAssociatoType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
					<xs:element name="identificativo" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idOggetto" type="xs:decimal" minOccurs="1" />
					<xs:element name="idTipo" type="xs:decimal" minOccurs="1" />
					<xs:element name="desTipo" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceOggetto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceAssoluto" type="xs:integer" minOccurs="0" />
					<xs:element name="idStato" type="xs:decimal" minOccurs="1" />
					<xs:element name="desStato" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idAutorizzazione" type="xs:decimal" minOccurs="1" />
					<xs:element name="idAutorita" type="xs:decimal" minOccurs="1" />
					<xs:element name="geometria" type="gml:GeometryPropertyType" minOccurs="0" />
					<xs:element name="desComuneOggetto" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desProvinciaOggetto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="numeroAutorizzazione" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="istatComuneStabilimento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="istatProvinciaStabilimento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceSiraAltriStabilimenti" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="estremiAtto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
					<xs:element name="dataScadenza" type="xs:date" minOccurs="0" />
					<xs:element name="dataAutorizzazione" type="xs:date" minOccurs="0" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="VerificaSorgentiRumoroseType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				<xs:element name="idSorgenteRumorosa" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idRumorosita" type="xs:integer" minOccurs="1" />
					<xs:element name="desRumorosita" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="AttivitaBassaRumorositaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idAttivitaBR" type="xs:integer" minOccurs="1" />
					<xs:element name="idAttivitaBassaRumorosita" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desAttivitaBassaRumorosita" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="PrelievoAcquaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idPrelievo" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idTipoPrelievo" type="xs:integer" minOccurs="1" />
					<xs:element name="desTipoPrelievo" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="denomImpiantoDepurTerzi" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="gestImpiantoDepurTerzi" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idIstanza" type="xs:decimal" minOccurs="0" />
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="0" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<!--INNESTI DEL punto emissione camino-->
	
	<complexType name="ProvenienzaEmissioneType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idPuntoEmissione" type="xs:integer" minOccurs="1" />
					<xs:element name="idProvenienza" type="xs:integer" minOccurs="1" />
					<xs:element name="idPuntoProvenienza" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desProvenienza" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="impiantiMacchine" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="altraProvenienza" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="ImpiantoDiAbbattimentoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idPuntoEmissione" type="xs:integer" minOccurs="1" />
					<xs:element name="idImpiantoAbbattimento" type="xs:integer" minOccurs="1" />
					<xs:element name="idPuntoAbbattimento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desImpiantoAbbattimento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="InquinanteType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				    <xs:element name="idInquinante" type="xs:decimal" minOccurs="1" />
					<xs:element name="idPuntoEmissione" type="xs:integer" minOccurs="1" />
					<xs:element name="idPuntoInquinante" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desInquinante" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="concentrazione_mg_Nm3" type="xs:decimal" minOccurs="0" />
					<xs:element name="flussoDiMassa_kg_h" type="xs:decimal" minOccurs="0" />
					<xs:element name="altroInquinante" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="ImpiantoDiCombustioneType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				<xs:element name="idImpianto" type="xs:integer" minOccurs="1" />
					<xs:element name="idPuntoEmissione" type="xs:integer" minOccurs="0" />
					<xs:element name="sigla" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="tipologiaImpianto" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="potenzaSingoloFocolare_MW_t" type="xs:decimal" minOccurs="1" />
					<xs:element name="desCombustibile" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="consumoDiCombustibile" type="xs:decimal" minOccurs="1" />
					<xs:element name="unitaDiMisura" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="flgSistemaMonitoraggio" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desTipologiaImpianto" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="PuntoEmissioneType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
				   <xs:element name="identificativo" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idPuntoEmissione" type="xs:integer" minOccurs="1" />
					<xs:element name="geometria" type="gml:GeometryPropertyType" minOccurs="1" />
					<xs:element name="sigla" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idTipoEmissione" type="xs:decimal" minOccurs="0" />
					<xs:element name="desTipoEmissione" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idStato" type="xs:decimal" minOccurs="1" />
					<xs:element name="desStato" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="portataAeriforme_Nm3_h" type="xs:decimal" minOccurs="1" />
					<xs:element name="durataEmissione_h_g" type="xs:decimal" minOccurs="0" />
					<xs:element name="frequenzaEmisione" type="xs:decimal" minOccurs="0" />
					<xs:element name="idCostanteDiscontinua" type="xs:integer" minOccurs="0" />
					<xs:element name="desCostanteDiscontinua" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="temperaturaEmissione" type="xs:decimal" minOccurs="0" />
					<xs:element name="temperaturaAmbiente" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="indicazioneSistemaAbbattimento" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="note" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="altezza_m" type="xs:decimal" minOccurs="0" />
					<xs:element name="diametroPrimoLato" type="xs:decimal" minOccurs="1" />
					<xs:element name="secondoLato" type="xs:decimal" minOccurs="0" />
					<xs:element name="materiale" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="istatComune" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="istatProvincia" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idAutorita" type="xs:decimal" minOccurs="1" />
					<xs:element name="idAutorizzazioneAmbientale" type="xs:decimal" minOccurs="1" />
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
					
					<!-- innesto oggetti piu complessi -->
				
					 <xs:element name="stabilimento" type="siraemissioni:StabilimentoPropertyType" minOccurs="1" maxOccurs="unbounded" />
					 
					 <xs:element name="autorizzazioneAmbientalePuntoEmissione" type="siraemissioni:AutorizzazioneAmbientalePuntoEmissionePropertyType" minOccurs="1" maxOccurs="unbounded" />
					  
					   <xs:element name="provenienzaEmissione" type="siraemissioni:ProvenienzaEmissionePropertyType" minOccurs="1" maxOccurs="unbounded" />
					
					 <xs:element name="impiantoDiAbbattimento" type="siraemissioni:ImpiantoDiAbbattimentoPropertyType" minOccurs="0" maxOccurs="unbounded" />
					 
					  <xs:element name="inquinante" type="siraemissioni:InquinantePropertyType" minOccurs="0" maxOccurs="unbounded" />
					  
					   <xs:element name="impiantoDiCombustione" type="siraemissioni:ImpiantoDiCombustionePropertyType" minOccurs="0" maxOccurs="unbounded" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<!-- property types -->
	
	
	<complexType name="AutorizzazioneAmbientalePropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:AutorizzazioneAmbientale" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="AutorizzazioneAmbientalePuntoEmissionePropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:AutorizzazioneAmbientalePuntoEmissione" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	
	<complexType name="TematicaPropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:Tematica" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="AziendaPropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:Azienda" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="AttivitaProduttivaPropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:AttivitaProduttiva" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="TipologiaImpiantoPropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:TipologiaImpianto" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="CertificazioneAmbientalePropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:CertificazioneAmbientale" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="SottoAttivitaEmissivaPropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:SottoAttivitaEmissiva" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="SottoAttivitaEmissivaPuntoEmissionePropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:SottoAttivitaEmissivaPuntoEmissione" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="DettaglioAttivitaPropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:DettaglioAttivita" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="DettaglioAttivitaPuntoEmissionePropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:DettaglioAttivitaPuntoEmissione" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="OggettoAssociatoPropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:OggettoAssociato" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="VerificaSorgentiRumorosePropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:VerificaSorgentiRumorose" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="AttivitaBassaRumorositaPropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:AttivitaBassaRumorosita" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="PrelievoAcquaPropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:PrelievoAcqua" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="ProvenienzaEmissionePropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:ProvenienzaEmissione" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="ImpiantoDiAbbattimentoPropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:ImpiantoDiAbbattimento" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="InquinantePropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:Inquinante" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="ImpiantoDiCombustionePropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:ImpiantoDiCombustione" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="StabilimentoPropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:Stabilimento" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	</schema>