security/app-schema/xsd/sira_AEA.xsd

<?xml version="1.0"?>
<schema version="1.0" 
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:siraemissioni="http://www.regione.piemonte.it/ambiente/siraemissioni/1.0"
    targetNamespace="http://www.regione.piemonte.it/ambiente/siraemissioni/1.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <import namespace="http://www.opengis.net/gml/3.2" 
	schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" />
	
	
	<!-- elements -->
	<!-- qui estendono gml:AbstractObject o gml:AbstractFeature -->
	
	<!-- decsira_geo_stabilimento -->
	<element name="Stabilimento" type="siraemissioni:StabilimentoType" substitutionGroup="gml:AbstractFeature" />
	
	<!-- decsira_t_autorizzazione_amb -->
	<element name="AutorizzazioneAmbientale" type="siraemissioni:AutorizzazioneAmbientaleType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_tematica -->
	<element name="Tematica" type="siraemissioni:TematicaType" substitutionGroup="gml:AbstractObject" />
	

	
	<!-- types -->
	<!-- qui estendono gml:AbstractGMLType o gml:AbstractFeatureType -->
	
	<complexType name="StabilimentoType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
				    
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
					
					<xs:element name="nome" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="istatComune" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="nomeComune" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					
					<xs:element name="istatProvincia" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="desProvincia" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="indirizzo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="emailPec" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="industriaAgroAlimentare" type="xs:integer" minOccurs="0" />
					
					<xs:element name="ricircoloInterno" type="xs:decimal" minOccurs="0" />
					
					<xs:element name="modalitaRicircolo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="percentualeRicircolo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="volumeAnnuoRicircolo" type="xs:decimal" minOccurs="0" />
					
					<xs:element name="volumeGiornoRicircolo" type="xs:decimal" minOccurs="0" />
					
					<xs:element name="idStato" type="xs:integer" minOccurs="0" />
					
					<xs:element name="desStato" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="tipoProvvedimentoAttivo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="tipoProvvedimentoStorico" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="tematica" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idTipologiaImpianto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="desTipologiaImpianto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="abitantiEquivalentiTrattati" type="xs:decimal" minOccurs="0" />
					
					<xs:element name="geometria" type="gml:GeometryPropertyType" minOccurs="1" />
					
					<!-- innesto oggetti piu complessi -->
					
					<!-- qui ci vuole un join -->
					 <xs:element name="autorizzazioneAmbientale" type="siraemissioni:AutorizzazioneAmbientalePropertyType" minOccurs="0" maxOccurs="unbounded" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	
	<complexType name="TematicaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element name="idTematica" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idAttivita" type="xs:decimal" minOccurs="1" />
					
					<xs:element name="idIstanza"  type="xs:decimal" minOccurs="1" />
					
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
					
					<xs:element name="descrizione" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	
	<complexType name="AutorizzazioneAmbientaleType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element name="idAutorizzazioneAmbientaleSede" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idAutorizzazioneAmbientale" type="xs:decimal" minOccurs="1" />
					
					<xs:element name="idTipoProvvedimento" type="xs:decimal" minOccurs="1" />
					
					<xs:element name="tipoProvvedimento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="desTematica" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="estremiProvvedimento" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="dataProvvedimento" type="xs:date" minOccurs="0" />
					
					<xs:element name="dataScadenza" type="xs:date" minOccurs="0" />
					
					<xs:element name="idEnteCompetente" type="xs:decimal" minOccurs="0" />
					
					<xs:element name="desEnteCompetente" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
					
					<xs:element name="idStato" type="xs:decimal" minOccurs="0" />
					
					<xs:element name="desStato" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<!-- innesto gli oggetti piu complessi -->
					
					<!-- condizione di join mediante id_istanza -->
					 <xs:element name="tematica" type="siraemissioni:TematicaPropertyType" minOccurs="1" maxOccurs="unbounded" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<!-- property types -->
	
	
	<complexType name="AutorizzazioneAmbientalePropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:AutorizzazioneAmbientale" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	
	<complexType name="TematicaPropertyType">
        <sequence minOccurs="0">
            <element ref="siraemissioni:Tematica" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	</schema>