security/app-schema/xsd/trincea.xsd

<?xml version="1.0"?>
<schema version="1.0" 
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
	xmlns:decsiraogc_operecaptazione="http://www.regione.piemonte.it/ambiente/decsiraogc_operecaptazione/1.0"
    targetNamespace="http://www.regione.piemonte.it/ambiente/decsiraogc_operecaptazione/1.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<import namespace="http://www.opengis.net/gml/3.2" 
	schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" /> 
	
	
	<!-- elements -->
	<!-- here extend  gml:AbstractObject o gml:AbstractFeature -->
	
	<!-- decsira_geo_trincea_drenante  id= id_trincea_dren -->
	<element name="Trincea" type="decsiraogc_operecaptazione:TrinceaType" substitutionGroup="gml:AbstractFeature" />
	
	<!-- decsira_t_oggetto_associato_derivazioni  id= identificativo -->
	<element name="OggettoAssociatoTrincea" type="decsiraogc_operecaptazione:OggettoAssociatoTrinceaType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_prelievo_perutenza_captazione  id= id_prelievo_utenza_captazione -->
	<element name="PrelievoPerUtenzaTrincea" type="decsiraogc_operecaptazione:PrelievoPerUtenzaTrinceaType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_derivazioni_captazioni  id= id_deriv_capt-->
	<element name="TrinceaDerivazione" type="decsiraogc_operecaptazione:TrinceaDerivazioneType" substitutionGroup="gml:AbstractObject" />

	
	<!-- types -->
	<!-- here extend gml:AbstractGMLType o gml:AbstractFeatureType -->
	
	<complexType name="TrinceaType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
				
					<xs:element name="idTrinceaDren"  type="xs:integer" minOccurs="1" />

					<xs:element name="geomTrincea" type="gml:GeometryPropertyType" minOccurs="1" />

					<xs:element name="codiceROCTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codiceRilievoTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="denominazioneTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="fkComuneTrincea"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="istatComuneTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="desComuneTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="siglaProvinciaTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="desProvinciaTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="localitaTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="fkStatoTrincea"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="desStatoTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="qMaxDerivTrincea" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="qMedDerivTrincea" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="volMaxConcTrincea" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="fkStatoEserTrincea"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="desStatoEserTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="svilLongTrincea"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="profMaxTrincea" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="profMinTrincea" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="inclinazioneTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codAssolutoTrincea"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="denomImpAcqTrincea" minOccurs="1" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="denomAcquedTrincea" minOccurs="1" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="fkAreaIdroTrincea"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="desAreaIdroTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="fkBacIdroTrincea"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="desBacIdroTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="fkBacIdromontTrincea"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="desBacIdromontTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="elencoDerivCodrilTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="elencoDerivCodutenzaTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="elencoDerivNclasPratTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgMisuratoreTrincea" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<!-- oggetti innestati -->

					<xs:element name="oggettoAssociatoTrincea" type="decsiraogc_operecaptazione:OggettoAssociatoTrinceaPropertyType" minOccurs="0" maxOccurs="unbounded" />
				
					<xs:element name="prelievoPerUtenzaTrincea" type="decsiraogc_operecaptazione:PrelievoPerUtenzaTrinceaPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="trinceaDerivazione" type="decsiraogc_operecaptazione:TrinceaDerivazionePropertyType" minOccurs="0" maxOccurs="unbounded" />
					
				</sequence>
            </extension>
        </complexContent>
    </complexType>
		
	<complexType name="OggettoAssociatoTrinceaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element name="identificativo" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idTrincea"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idOggetto"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idTipoOggetto"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="desTipoOggetto" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					 
					 <xs:element name="nomeWFS" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idStatoOggetto"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					 <xs:element name="codiceRocCaptColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element name="codiceRilCaptColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element name="denomCaptColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element name="codiceRilDerColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="matricolaMisuColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codiceRilMisuColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	<complexType name="PrelievoPerUtenzaTrinceaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element name="idPrelievoUtenzaCaptazione" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="35" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idOperaCapt"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idDerivazione"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idPeriodoPrelievo"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="codAssoluto"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="fkTipoOggetto"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="deTipoOggetto" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					 
					<xs:element name="fkStatoDeriv"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="desStatoDeriv" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					<xs:element name="codiceRilievoDeriv" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					 <xs:element name="periodoPrelievoDa" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					 <xs:element name="periodoPrelievoA" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					<xs:element name="portataMaxDerivata" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="volumeMaxConcessione" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="fkStatoOpera"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="desStatoOpera" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="TrinceaDerivazioneType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element name="idDerivCapt" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idDerivazione"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idTrinceaDren"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="codiceRilievoDeriv" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="classificazionePratica" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoEnergetico" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoRiqualifEnergia" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoProduzione" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoLavagInerti" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoZootecnico" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoPiscicolo" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoPotabile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoDomestico" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoCivile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoAgricolo" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	
	<!-- property types -->
	<complexType name="OggettoAssociatoTrinceaPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:OggettoAssociatoTrincea" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="PrelievoPerUtenzaTrinceaPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:PrelievoPerUtenzaTrincea" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="TrinceaDerivazionePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:TrinceaDerivazione" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	

</schema>