security/app-schema/mappings/decsiraogc_impianti/impianto/_schemas/impianto.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:decsiraogc_impianti="http://www.regione.piemonte.it/ambiente/decsiraogc_impianti/1.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.regione.piemonte.it/ambiente/decsiraogc_impianti/1.0" version="1.0">
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="0/gml.xsd"/>
	
	
	<!-- elements -->
	<!-- qui estendono gml:AbstractObject o gml:AbstractFeature -->
	
	<!-- decsira_geo_impianto -->
	<element name="Impianto" substitutionGroup="gml:AbstractFeature" type="decsiraogc_impianti:ImpiantoType"/>
	
	<!-- decsira_t_sorgenti_rum -->
	<element name="VerificaSorgentiRumorose" substitutionGroup="gml:AbstractObject" type="decsiraogc_impianti:VerificaSorgentiRumoroseType"/>
	
	<!-- decsira_t_autorizzazione_amb -->
	<element name="AutorizzAmbientaleImpianto" substitutionGroup="gml:AbstractObject" type="decsiraogc_impianti:AutorizzAmbientaleImpiantoType"/>
	
	<!-- decsira_t_TematicaAttivita -->
	<element name="TematicaAttivita" substitutionGroup="gml:AbstractObject" type="decsiraogc_impianti:TematicaAttivitaType"/>
	
	<!-- decsira_t_oggetto_associato_derivazioni -->
	<element name="OggettoAssociatoImpianto" substitutionGroup="gml:AbstractObject" type="decsiraogc_impianti:OggettoAssociatoImpiantoType"/>
	
	
	<!-- types -->
	<!-- qui estendono gml:AbstractGMLType o gml:AbstractFeatureType -->
	
	<complexType name="ImpiantoType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
				    
					<xs:element minOccurs="1" name="codiceSira" type="xs:decimal"/>
					
					<xs:element minOccurs="0" name="idOggTipo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="15"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="nome">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="istatComune">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="desComune">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>				
					
					<xs:element minOccurs="1" name="istatProvincia">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="3"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="desProvincia">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="indirizzo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="emailPec">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="denominAzienda">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="codFiscaleAzienda">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="16"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="partitaIVAAzienda">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="11"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="indirizzoAzienda">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="istatComuneAzienda">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="desComuneAzienda">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="istatProvinciaAzienda">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="3"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="desProvinciaAzienda">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="cognomeTitolareAzienda">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="nomeTitolareAzienda">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="idStatoImpianto" type="xs:integer"/>
					
					<xs:element minOccurs="0" name="desStatoImpianto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="tipoProvvedimentoAttivo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="tipoProvvedimentoStorico">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="desTematicaAttivita">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="dataUltimaAutorizProposta" type="xs:date"/>
					
					<xs:element minOccurs="0" name="dataUltimaAutoriz" type="xs:date"/>
					
					<xs:element minOccurs="0" name="dataScadenzaUltimaAutoriz" type="xs:date"/>
								
					<xs:element minOccurs="0" name="codiceIstanzaUltimaAutoriz">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="geometria" type="gml:GeometryPropertyType"/>
					
					<!-- innesto oggetti piu complessi -->
					
					<!-- qui ci vuole un join -->
					<xs:element maxOccurs="unbounded" minOccurs="0" name="verificaSorgentiRumorose" type="decsiraogc_impianti:VerificaSorgentiRumorosePropertyType"/>
					
					<!-- qui ci vuole un join -->
					<xs:element maxOccurs="unbounded" minOccurs="0" name="autorizzAmbientaleImpianto" type="decsiraogc_impianti:AutorizzAmbientaleImpiantoPropertyType"/>
	
					<!-- qui ci vuole un join -->
					<xs:element maxOccurs="unbounded" minOccurs="0" name="oggettoAssociatoImpianto" type="decsiraogc_impianti:OggettoAssociatoImpiantoPropertyType"/>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="VerificaSorgentiRumoroseType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element minOccurs="1" name="idSorgenteRumorosa">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceSira" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idRumorosita" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desRumorosita">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="AutorizzAmbientaleImpiantoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="idIstanzaAutorizzativa">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idIstanza" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceIstanza">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idTipoProvvedimento" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="tipoProvvedimento">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="tematica">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="estremiProvvedimento">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="dataProvvedimento" type="xs:date"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="dataScadenza" type="xs:date"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idEnteCompetente" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desEnteCompetente">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceSira" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idStato" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desStato">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>	
					
					<!-- qui ci vuole un join -->
					<xs:element maxOccurs="unbounded" minOccurs="0" name="tematicaAttivita" type="decsiraogc_impianti:TematicaAttivitaPropertyType"/>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="TematicaAttivitaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="identificativo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idIstanza" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idAttivita" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idTematica" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desTematica">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceSira" type="xs:integer"/>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="OggettoAssociatoImpiantoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element minOccurs="1" name="identificativo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element minOccurs="1" name="idOggTipoPrinc">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="tipoAlberatura">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="tipoOggPrinc" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idOggettoPrinc">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idOggetto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idTipoOggetto" type="xs:integer"/>
					
					<xs:element minOccurs="0" name="desTipoOggetto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="nomeWFS">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idStatoOggetto" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idIstanza" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="estremiAtto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="dataRilascio" type="xs:date"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="dataScadenza" type="xs:date"/>
						
					<xs:element maxOccurs="1" minOccurs="0" name="codiceSiraImpianto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="nomeImpianto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="305"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="comuneImpianto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceRilDerColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceScarico">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="siglaPuntoEmiss">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="nomeDepuratore">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="nascostoCittadino" type="xs:boolean"/>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<!-- property types -->
	
	<complexType name="VerificaSorgentiRumorosePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_impianti:VerificaSorgentiRumorose"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	<complexType name="AutorizzAmbientaleImpiantoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_impianti:AutorizzAmbientaleImpianto"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	<complexType name="TematicaAttivitaPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_impianti:TematicaAttivita"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	<complexType name="OggettoAssociatoImpiantoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_impianti:OggettoAssociatoImpianto"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
</schema>