security/app-schema/mappings/decsiraogc_operecaptazione/fontanile/_schemas/fontanile.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:decsiraogc_operecaptazione="http://www.regione.piemonte.it/ambiente/decsiraogc_operecaptazione/1.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.regione.piemonte.it/ambiente/decsiraogc_operecaptazione/1.0" version="1.0">
	
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="0/gml.xsd"/> 
	
	
	<!-- elements -->
	<!-- here extend  gml:AbstractObject o gml:AbstractFeature -->
	
	<!-- decsira_geo_fontanile  id= id_fontanile-->
	<element name="Fontanile" substitutionGroup="gml:AbstractFeature" type="decsiraogc_operecaptazione:FontanileType"/>
	
	<!-- decsira_t_oggetto_associato_derivazioni  id= identificativo-->
	<element name="OggettoAssociatoFontanile" substitutionGroup="gml:AbstractObject" type="decsiraogc_operecaptazione:OggettoAssociatoFontanileType"/>
	
	<!-- decsira_t_prelievo_perutenza_captazione  id= id_prelievo_utenza_captazione-->
	<element name="PrelievoPerUtenzaFontanile" substitutionGroup="gml:AbstractObject" type="decsiraogc_operecaptazione:PrelievoPerUtenzaFontanileType"/>
	
	<!-- decsira_t_derivazioni_captazioni  id= id_deriv_capt-->
	<element name="FontanileDerivazione" substitutionGroup="gml:AbstractObject" type="decsiraogc_operecaptazione:FontanileDerivazioneType"/>

	
	<!-- types -->
	<!-- here extend gml:AbstractGMLType o gml:AbstractFeatureType -->
	
	<complexType name="FontanileType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
				
					<xs:element minOccurs="1" name="idFontanile" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idoggtipoFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>

					<xs:element minOccurs="1" name="geomFontanile" type="gml:GeometryPropertyType"/>

					<xs:element maxOccurs="1" minOccurs="0" name="codiceROCFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceRilievoFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="denominazioneFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkComuneFontanile" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="istatComuneFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desComuneFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="siglaProvinciaFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desProvinciaFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="localitaFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="fkStatoFontanile" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desStatoFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="qMaxDerivFontanile" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="qMedDerivFontanile" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="volMaxConcFontanile" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkStatoEserFontanile" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desStatoEserFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="codAssolutoFontanile" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="1" name="denomImpAcqFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="1" name="denomAcquedFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkAreaIdroFontanile" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desAreaIdroFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkBacIdroFontanile" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desBacIdroFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkBacIdromontFontanile" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desBacIdromontFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					
					<xs:element maxOccurs="1" minOccurs="0" name="elencoDerivCodrilFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="elencoDerivCodutenzaFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="elencoDerivNclasPratFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgMisuratoreFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoPotabileFontanile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<!-- oggetti innestati -->

					<xs:element maxOccurs="unbounded" minOccurs="0" name="oggettoAssociatoFontanile" type="decsiraogc_operecaptazione:OggettoAssociatoFontanilePropertyType"/>
				
					<xs:element maxOccurs="unbounded" minOccurs="0" name="prelievoPerUtenzaFontanile" type="decsiraogc_operecaptazione:PrelievoPerUtenzaFontanilePropertyType"/>
					
					<xs:element maxOccurs="unbounded" minOccurs="0" name="fontanileDerivazione" type="decsiraogc_operecaptazione:FontanileDerivazionePropertyType"/>
					
				</sequence>
            </extension>
        </complexContent>
    </complexType>
		
	<complexType name="OggettoAssociatoFontanileType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="identificativo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idoggtipoprinc">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="tipoAlberatura">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idFontanile" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idOggetto" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idTipoOggetto" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="desTipoOggetto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					 
					 <xs:element minOccurs="1" name="nomeWFS">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idStatoOggetto" type="xs:integer"/>
					
					 <xs:element maxOccurs="1" minOccurs="0" name="codiceRocCaptColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element maxOccurs="1" minOccurs="0" name="codiceRilCaptColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element maxOccurs="1" minOccurs="0" name="denomCaptColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element maxOccurs="1" minOccurs="0" name="codiceRilDerColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="matricolaMisuColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceRilMisuColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="nascostoCittadino" type="xs:boolean"/>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	<complexType name="PrelievoPerUtenzaFontanileType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="idPrelievoUtenzaCaptazione">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="35"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idOperaCapt" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idDerivazione" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idPeriodoPrelievo" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="codAssoluto" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="fkTipoOggetto" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="deTipoOggetto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					 
					<xs:element minOccurs="1" name="fkStatoDeriv" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desStatoDeriv">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					<xs:element maxOccurs="1" minOccurs="0" name="codiceRilievoDeriv">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					 <xs:element maxOccurs="1" minOccurs="0" name="periodoPrelievoDa">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					 <xs:element maxOccurs="1" minOccurs="0" name="periodoPrelievoA">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					<xs:element maxOccurs="1" minOccurs="0" name="portataMaxDerivata" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="portataMedDerivata" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="volumeMaxConcessione" type="xs:decimal"/>
					
					<xs:element minOccurs="1" name="fkStatoOpera" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desStatoOpera">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="FontanileDerivazioneType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="idDerivCapt">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idDerivazione" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idFontanile" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceRilievoDeriv">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="classificazionePratica">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoEnergetico">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoRiqualifEnergia">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoProduzione">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoLavagInerti">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoZootecnico">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoPiscicolo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoPotabile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoDomestico">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoCivile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoAgricolo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	
	<!-- property types -->
	<complexType name="OggettoAssociatoFontanilePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:OggettoAssociatoFontanile"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	<complexType name="PrelievoPerUtenzaFontanilePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:PrelievoPerUtenzaFontanile"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	<complexType name="FontanileDerivazionePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:FontanileDerivazione"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	

</schema>