security/app-schema/mappings/decsiraogc_biodiversita_bdn_griglia_distr_fauna/bdnGrigliaDistribuzioneFauna/_schemas/bdnGrigliaDistribuzioneFauna.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:decsiraogc_biodiversita_bdn_griglia_distr_fauna="http://www.regione.piemonte.it/ambiente/decsiraogc_biodiversita_bdn_griglia_distr_fauna/1.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.regione.piemonte.it/ambiente/decsiraogc_biodiversita_bdn_griglia_distr_fauna/1.0" version="1.0">
	
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="0/gml.xsd"/> 
	
	
	<!-- elements -->
	<!-- here extend  gml:AbstractObject o gml:AbstractFeature -->
	
	<!-- decsira_geo_biodiversita_bdn_griglia_distr_fauna  id=id_bdn_griglia_distr_fauna -->
	<element name="BdnDistribuzioneFauna" substitutionGroup="gml:AbstractFeature" type="decsiraogc_biodiversita_bdn_griglia_distr_fauna:BdnDistribuzioneFaunaType"/>
	
	 <!-- decsira_t_biodiversita_bdn_specie_griglia_fauna  id=id_bdn_specie_griglia_fauna-->
	<element name="BdnSpecieGrigliaFauna" substitutionGroup="gml:AbstractObject" type="decsiraogc_biodiversita_bdn_griglia_distr_fauna:BdnSpecieGrigliaFaunaType"/>

    <!-- decsira_t_biodiversita_bdn_fauna_specie_anno id=id_bdn_fauna_specie_anno-->
	<element name="BdnFaunaSpecieAnno" substitutionGroup="gml:AbstractObject" type="decsiraogc_biodiversita_bdn_griglia_distr_fauna:BdnFaunaSpecieAnnoType"/>

    <!-- types -->
	<!-- here extend gml:AbstractGMLType o gml:AbstractFeatureType -->
	
	<complexType name="BdnDistribuzioneFaunaType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
				
				    <xs:element minOccurs="1" name="idBdnGrigliaDistrFauna" type="xs:decimal"/>
					<xs:element maxOccurs="1" minOccurs="0" name="geometria" type="gml:GeometryPropertyType"/>

                    <xs:element maxOccurs="1" minOccurs="0" name="idGriglia5Km" type="xs:integer"/>

                    <xs:element maxOccurs="1" minOccurs="0" name="numSpecieTotali" type="xs:decimal"/>

                    <xs:element maxOccurs="1" minOccurs="0" name="numOsservazioniTotali" type="xs:decimal"/>

                    <xs:element maxOccurs="1" minOccurs="0" name="annoOsservazAntica" type="xs:decimal"/>

                    <xs:element maxOccurs="1" minOccurs="0" name="annoOsservazRecente" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgSpecieMeritevolAttenz">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
                    <xs:element maxOccurs="1" minOccurs="0" name="flgSpecieProtettLegal">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>

                     <!-- oggetti innestati -->

					<xs:element maxOccurs="unbounded" minOccurs="0" name="bdnSpecieGrigliaFauna" type="decsiraogc_biodiversita_bdn_griglia_distr_fauna:BdnSpecieGrigliaFaunaPropertyType"/>

                </sequence>
            </extension>
        </complexContent>
    </complexType>


     <complexType name="BdnSpecieGrigliaFaunaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idBdnSpecieGrigliaDistrFauna" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkBdnGrigliaDistrFauna" type="xs:decimal"/>
					
					 <xs:element maxOccurs="1" minOccurs="0" name="codSpecie">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="concatenazioneNomeSpecie">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1003"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>

                     <xs:element maxOccurs="1" minOccurs="0" name="famigliaDesc">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>

                      <xs:element maxOccurs="1" minOccurs="0" name="gruppo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>

                     <xs:element maxOccurs="1" minOccurs="0" name="genere">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>

                     <xs:element maxOccurs="1" minOccurs="0" name="numOsservazioniTotali" type="xs:decimal"/>
                     
                     <xs:element maxOccurs="1" minOccurs="0" name="annoOsservazAntica" type="xs:decimal"/>
                     
                     <xs:element maxOccurs="1" minOccurs="0" name="annoOsservazRecente" type="xs:decimal"/>

                     <xs:element maxOccurs="1" minOccurs="0" name="flgSpecieMeritevolAttenz">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>

                     <xs:element maxOccurs="1" minOccurs="0" name="flgSpecieProtettLegal">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					 
                      <!-- oggetti innestati -->

					<xs:element maxOccurs="unbounded" minOccurs="0" name="bdnFaunaSpecieAnno" type="decsiraogc_biodiversita_bdn_griglia_distr_fauna:BdnFaunaSpecieAnnoPropertyType"/>

                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="BdnFaunaSpecieAnnoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				    <xs:element maxOccurs="1" minOccurs="0" name="idBdnFaunaSpecieAnno" type="xs:decimal"/>
					
				    <xs:element maxOccurs="1" minOccurs="0" name="fkBdnSpecieGrigliaDistrFauna" type="xs:decimal"/>
					
                    <xs:element maxOccurs="1" minOccurs="0" name="anno" type="xs:decimal"/>
					
					 <xs:element maxOccurs="1" minOccurs="0" name="codSpecie">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="nomeSpecie">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1003"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					 
					  <xs:element maxOccurs="1" minOccurs="0" name="famigliaDesc">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					 
					  <xs:element maxOccurs="1" minOccurs="0" name="genere">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					 
					  <xs:element maxOccurs="1" minOccurs="0" name="flgSpecieMeritevolAttenz">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>

                     <xs:element maxOccurs="1" minOccurs="0" name="flgSpecieProtettLegal">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	
	<!-- property types -->

      <complexType name="BdnSpecieGrigliaFaunaPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_biodiversita_bdn_griglia_distr_fauna:BdnSpecieGrigliaFauna"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>

    <complexType name="BdnFaunaSpecieAnnoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_biodiversita_bdn_griglia_distr_fauna:BdnFaunaSpecieAnno"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	
</schema>