security/app-schema/hale/alberoMonumentale.xsd

<?xml version="1.0"?>
<schema version="1.0" 
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
	xmlns:decsiraogc_idf_alb_monum="http://www.regione.piemonte.it/ambiente/decsiraogc_idf_alb_monum/1.0"
    targetNamespace="http://www.regione.piemonte.it/ambiente/decsiraogc_idf_alb_monum/1.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<import namespace="http://www.opengis.net/gml/3.2" 
	schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" /> 
	
	
	<!-- elements -->
	<!-- here extend  gml:AbstractObject o gml:AbstractFeature -->
	
	<!-- decsira_geo_alb_monum id= id_geo_alb_monum-->
	<element name="AlberoMonumentale" type="decsiraogc_idf_alb_monum:AlberoMonumentaleType" substitutionGroup="gml:AbstractFeature" />
	
	<!-- decsira_t_alb_monum_tipo_ambiente  id= id_t_alb_monum_tipo_ambiente -->
	<element name="TipoAmbiente" type="decsiraogc_idf_alb_monum:TipoAmbienteType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_alb_monum_ambiente  id= id_t_alb_monum_ambiente -->
	<element name="Ambiente" type="decsiraogc_idf_alb_monum:AmbienteType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_alb_monum_tipo_proprieta  id= id_t_alb_monum_tipo_proprieta -->
	<element name="TipoProprieta" type="decsiraogc_idf_alb_monum:TipoProprietaType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_alb_monum_criterio_monumentalita  id= id_t_alb_monum_criterio_monumentalita -->
	<element name="CriterioMonumentalita" type="decsiraogc_idf_alb_monum:CriterioMonumentalitaType" substitutionGroup="gml:AbstractObject" />
	
	
	<!-- types -->
	<!-- here extend gml:AbstractGMLType o gml:AbstractFeatureType -->
	
	<complexType name="AlberoMonumentaleType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
				
					<xs:element name="idGeoAlbMonum"  type="xs:integer" minOccurs="1" />

					<xs:element name="geometria" type="gml:GeometryPropertyType"  minOccurs="0" maxOccurs="1" />

					<xs:element name="idNSschedaAlbero" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="dataRilievo" type="xs:date" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="dataInserimento" type="xs:date" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="oraInserimento" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="5" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="oggettoDiIdentif" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="descrStato" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="richieste" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgCensito" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>

					<xs:element name="schedaSegnRifCensimPass" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>

					<xs:element name="schedaSegnRilevatori" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="descrRegione" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="descrProvincia" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="descrComune" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="localitaSegnal" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="segnalLongitudineX" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="segnalLatitudineY" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="segnalLongitudineXGradi" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="segnalLatitudineYGradi" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>

					<xs:element name="itinerarioAccesso" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="dettaglioParticelle" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="cartaIgmTav25000" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="cartaIgmFg100000" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="altitudineMetri" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="pendenzaPerc" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="contestoCoperturaSuolo" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="contestoCompattamentoSuolo" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgContestoRistagnoIdrico" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="contestoCaratteristicheSuolo" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgVincAreaProtetta" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="dettaglioAreeProtette" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="altriVinc" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgCirconfSottosoglia" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgAltezzaDendrometrica" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgAmpiezzaChioma" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgEta" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgCirconfSoprasoglia" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgFormaOPortam" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgValoreEcologico" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgRaritaBotanica" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgArchitetturaVegetale" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgValorePaesaggistico" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgValoreStorico" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="descrAspettoMonumentalita" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="famiglia" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="genere" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="specie" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="varieta" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="nomeVolgareSpecie" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="nomiLocaliSpecie" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="nomiLocaliInsieme" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="nomiLocaliAlbero" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="numeroFusti" type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="etaAccertata" type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="etaPresunta" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="circonferenza" type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="altezzaStimataMetri" type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="altezzaMisurataMetri" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="altezzaPrimoPalcoMetri" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					
					<xs:element name="formaChioma" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="diametroMedioChiomaMetri" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="vigoreVegetativo" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="defoliazione" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="decolorazione" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="microfillia" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="seccume" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="riscoppi" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="descrSintomiODifetti" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="apparatoRadicale" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="colletto" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="fusto" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="chioma" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="branche" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
	
					<xs:element name="flgInterfManufatti" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgInterfLineeElettr" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="bersaglio" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="tipoInfezioneParassiti" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="doveInfezioneParassiti" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="tipoFunghiVirusBatteri" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="doveFunghiVirusBatteri" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="tipoAltriDanni" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="doveAltriDanni" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="descrSintomi" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="valutazioneSintomi" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgAssenzaDanniFitosanit" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="intervEffettTipoPotat" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="intervEffettPotatQuando" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="intervEffettPotatAltro" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="intervEffettTipoConsolidam" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="intervEffettAltrTipoConsolidam" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="intervEffettTipoAncoraggio" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="intervEffettAncoraggioDove" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="intervEffettAncoraggioAltro" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="intervEffettDendroDove" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="intervEffettDendroAltro" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="intervAffettAltroDove" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="intervEffettAltro" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgAssenzaIntervNecess" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgIntervNecess" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="intervNecess" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="lunghezzaFilareVialeAlb" type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="superficieGruppo" type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="circonferenzaEsemplMedia" type="xs:integer" minOccurs="0" maxOccurs="1" />
				
					<xs:element name="altezzaEsemplMedia" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="circonferenzaEsemplMax" type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="altezzaEsemplMax" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="tutelaRifNormativi" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgTutelaPropDichIntPubbl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgTutelaVigente" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="altreOsservazioni" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="numeroAllegati" type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="flgPresenzaAllegati" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="urlDecretoMinistInserimento" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="urlDecretoMinistModifica" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="determinaRegionale" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="determinaRegionaleModifica" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="urlImmagini" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="urlSchedaCartello" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="urlAlbMonumBenePaesaggist" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="descrizioneSpecie" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="descrizioneAlbero" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="dataUltAgg" type="xs:date" minOccurs="0" maxOccurs="1" />
					
					
					<!-- oggetti innestati -->

					<xs:element name="tipoAmbiente" type="decsiraogc_idf_alb_monum:TipoAmbientePropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="ambiente" type="decsiraogc_idf_alb_monum:AmbientePropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="tipoProprieta" type="decsiraogc_idf_alb_monum:TipoProprietaPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="criterioMonumentalita" type="decsiraogc_idf_alb_monum:CriterioMonumentalitaPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	<complexType name="TipoAmbienteType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>

					<xs:element name="idAlbMonumTipoAmbiente"  type="xs:integer" maxOccurs="1" />
				
					<xs:element name="fkGeoAlbMonum"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="fkAlbMonumTipoAmbiente"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="tipoAmbiente" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="AmbienteType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>

					<xs:element name="idAlbMonumAmbiente"  type="xs:integer" maxOccurs="1" />
				
					<xs:element name="fkGeoAlbMonum"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="fkAlbMonumAmbiente"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="ambiente" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="TipoProprietaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>

					<xs:element name="idAlbMonumTipoProprieta"  type="xs:integer" maxOccurs="1" />
				
					<xs:element name="fkGeoAlbMonum"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="fkAlbMonumTipoProprieta"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="tipoProprieta" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="vincProprPubblicaEstremi" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					<xs:element name="vincProprPrivataEstremi" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					<xs:element name="vincEstremiGestore" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="CriterioMonumentalitaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>

					<xs:element name="idAlbMonumCriterioMonumentalita"  type="xs:integer" maxOccurs="1" />
				
					<xs:element name="fkGeoAlbMonum"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="descrAspettoMonumentalita" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2000" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="fkAlbMonumCriterioMonumentalita"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="criterioMonumentalita" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<!-- property types -->
	
	<complexType name="TipoAmbientePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_idf_alb_monum:TipoAmbiente" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="AmbientePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_idf_alb_monum:Ambiente" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="TipoProprietaPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_idf_alb_monum:TipoProprieta" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="CriterioMonumentalitaPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_idf_alb_monum:CriterioMonumentalita" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
</schema>