security/app-schema/hale/anagrafeSitiContaminati.xsd

<?xml version="1.0"?>
<schema version="1.0" 
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
	xmlns:decsiraogc_siticontaminati="http://www.regione.piemonte.it/ambiente/decsiraogc_siticontaminati/1.0"
    targetNamespace="http://www.regione.piemonte.it/ambiente/decsiraogc_siticontaminati/1.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<import namespace="http://www.opengis.net/gml/3.2" 
	schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" /> 
	
	<!-- elements -->
	<!-- qui estendono gml:AbstractObject o gml:AbstractFeature -->
	
	<!-- asco_geo_anagrafica_tot  id= idSito-->
	<element name="AnagrafeSitiContaminati" type="decsiraogc_siticontaminati:AnagrafeSitiContaminatiType" substitutionGroup="gml:AbstractFeature" />
	
	<!-- asco_t_comuni_interessati  id= id_sito_istat -->
	<element name="ComuniInteressati" type="decsiraogc_siticontaminati:ComuniInteressatiType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_sogg_sito -ID =id_sogg_ruolo_sito -->
	<element name="SoggettiSito" type="decsiraogc_siticontaminati:SoggettiSitoType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_particelle ID= id_sito_particella -->
	<element name="ParticelleCatastali" type="decsiraogc_siticontaminati:ParticelleCatastaliType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_sogg_part ID= id -->
	<element name="SoggettiParticella" type="decsiraogc_siticontaminati:SoggettiParticellaType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_siti_colleg ID= id_sito1_sito2 -->
	<element name="SitiCollegati" type="decsiraogc_siticontaminati:SitiCollegatiType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_attiv_rifiuti  ID= id_tipoattrif -->
	<element name="TipoAttRifiuti" type="decsiraogc_siticontaminati:TipoAttRifiutiType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_matrici ID= id_matrice_contam -->
	<element name="MatriciContaminate" type="decsiraogc_siticontaminati:MatriciContaminateType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_sostanze ID= id_matrice_sost -->
	<element name="SostanzeContaminanti" type="decsiraogc_siticontaminati:SostanzeContaminantiType" substitutionGroup="gml:AbstractObject" />
	
	<!-- : asco_t_cause_3  ID= id_evento -->
	<element name="SorgentiInquiRifiuti" type="decsiraogc_siticontaminati:SorgentiInquiRifiutiType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_rifiuto  ID= id_evento_rifiuto -->
	<element name="InquiRifiuti" type="decsiraogc_siticontaminati:InquiRifiutiType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_cause   ID= id_evento -->
	<element name="SorgentiInquiAltre" type="decsiraogc_siticontaminati:SorgentiInquiAltreType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_istruttoria  ID=id_atto -->
	<element name="IstruttoriaSito" type="decsiraogc_siticontaminati:IstruttoriaSitoType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_inizio_concl_lavori  ID=id_atto -->
	<element name="InizioConclLavori" type="decsiraogc_siticontaminati:InizioConclLavoriType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_subarea ID=id_subarea -->
	<element name="Subaree" type="decsiraogc_siticontaminati:SubareeType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_interventi  ID=id_intervento -->
	<element name="InterventiSito" type="decsiraogc_siticontaminati:InterventiSitoType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_tecnologie_int  ID=id_tecnologia -->
	<element name="TecnologieIntervento" type="decsiraogc_siticontaminati:TecnologieInterventoType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_controlli  ID= id_controllo -->
	<element name="ControlliMonitoraggi" type="decsiraogc_siticontaminati:ControlliMonitoraggiType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_finanziamenti  ID=id_finanziamento -->
	<element name="Finanziamenti" type="decsiraogc_siticontaminati:FinanziamentiType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_finanz_soggetti ID=id_l6 -->
	<element name="FinanzSoggetti" type="decsiraogc_siticontaminati:FinanzSoggettiType" substitutionGroup="gml:AbstractObject" />
	
	<!-- asco_t_garanzie  ID=id_finanziamento -->
	<element name="GaranzieFinanziarie" type="decsiraogc_siticontaminati:GaranzieFinanziarieType" substitutionGroup="gml:AbstractObject" />
	
	<!-- types -->
	<!-- qui estendono gml:AbstractGMLType o gml:AbstractFeatureType -->
	
	<complexType name="AnagrafeSitiContaminatiType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
					<xs:element name="idSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codice" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="47" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="denominazione" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="geometria" type="gml:GeometryPropertyType" minOccurs="1" />
					<xs:element name="attivazProcedimento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="procSempl" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="comune" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceIstat" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="provincia" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="dataAttivProcedim" type="xs:date" minOccurs="1" />
					<xs:element name="soggAttivProcedim" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="motivoIns" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="noteSito" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="statoProcedim" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="dataModifStatoProcedim" type="xs:date" minOccurs="0" />
					<xs:element name="soggModifStatoProcedim " minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="indirizzo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="71" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="importanzaSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="statoAttivita" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idTipoAttivita" type="xs:decimal" minOccurs="0" />
					<xs:element name="tipoAttivita" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="istatAttivita" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="150" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="supContStimata" type="xs:decimal" minOccurs="0" />
					<xs:element name="supContAccertata" type="xs:decimal" minOccurs="0" />
					<xs:element name="soggiacenzaFalda" type="xs:decimal" minOccurs="0" />
					<xs:element name="tipoFalda" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="presenzaPozzi" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="usoPozzi" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="accessoAutor" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="accessoNoAutor" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="sanzioni" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="via" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="15" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="proroghe" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="interruzioni" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="interventi" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="legenda" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="flgMise" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="dataMise" type="xs:date" minOccurs="0" />
					<xs:element name="pianoProcSempl" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pianoCaratt" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="presentazAdr" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="approvazAdr" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="presentazPreliminare" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="approvazPreliminare" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="approvazProgetto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="certificazione" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="tipoFinanziamento" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="8" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="dataSvincolo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="attivo" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="concluso" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="destVigente" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="destProgetto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="A" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="B" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="C1" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="C2" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="C3" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="D1" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="D2" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="D3" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="E" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="F" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="G" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="I" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="J" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="K" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="L" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="M" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="dataInizioLavori" type="xs:date" minOccurs="0" />
					<xs:element name="noteUltCaratt" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="noteEventiInq" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="noteControlli" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="costoInterv" type="xs:decimal" minOccurs="0" />
					<xs:element name="pubb" type="xs:decimal" minOccurs="1" />
					
					<!-- oggetti innestati -->

					<xs:element name="comuniInteressati" type="decsiraogc_siticontaminati:ComuniInteressatiPropertyType" minOccurs="0" maxOccurs="unbounded" />

					<xs:element name="soggettiSito" type="decsiraogc_siticontaminati:SoggettiSitoPropertyType" minOccurs="1" maxOccurs="unbounded" />
					
					<xs:element name="particelleCatastali" type="decsiraogc_siticontaminati:ParticelleCatastaliPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="sitiCollegati" type="decsiraogc_siticontaminati:SitiCollegatiPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="tipoAttRifiuti" type="decsiraogc_siticontaminati:TipoAttRifiutiPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="matriciContaminate" type="decsiraogc_siticontaminati:MatriciContaminatePropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="sorgentiInquiRifiuti" type="decsiraogc_siticontaminati:SorgentiInquiRifiutiPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="sorgentiInquiAltre" type="decsiraogc_siticontaminati:SorgentiInquiAltrePropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="istruttoriaSito" type="decsiraogc_siticontaminati:IstruttoriaSitoPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="inizioConclLavori" type="decsiraogc_siticontaminati:InizioConclLavoriPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="subaree" type="decsiraogc_siticontaminati:SubareePropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="interventiSito" type="decsiraogc_siticontaminati:InterventiSitoPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="controlliMonitoraggi" type="decsiraogc_siticontaminati:ControlliMonitoraggiPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="finanziamenti" type="decsiraogc_siticontaminati:FinanziamentiPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="garanzieFinanziarie" type="decsiraogc_siticontaminati:GaranzieFinanziariePropertyType" minOccurs="0" maxOccurs="unbounded" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="ComuniInteressatiType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idSitoIstat" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="46" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="istatComune" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="comune" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="55" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	
	<complexType name="SoggettiSitoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idSoggRuoloSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idRuolo" type="xs:decimal" minOccurs="1" />
					<xs:element name="ruolo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idSoggetto" type="xs:decimal" minOccurs="1" />
					<xs:element name="tipoSoggetto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="denominazione" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceFiscale" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="16" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pIva" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="16" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="indirizzo" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="128" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="ParticelleCatastaliType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idSitoparticella" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="80" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idParticella" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="fkSubarea" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="comune" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idComune" type="xs:decimal" minOccurs="0" />
					<xs:element name="particella" type="xs:decimal" minOccurs="1" />
					<xs:element name="foglio" type="xs:decimal" minOccurs="1" />
					<xs:element name="sezione" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="sviluppo" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="destVigente" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="destProgetto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="tipoArea" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="supContStimata" type="xs:decimal" minOccurs="0" />
					<xs:element name="supContAccertata" type="xs:decimal" minOccurs="0" />
					
					<!-- oggetti innestati -->
					<xs:element name="soggettiParticella" type="decsiraogc_siticontaminati:SoggettiParticellaPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	
	<complexType name="SoggettiParticellaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="id" type="xs:decimal" minOccurs="1" />
					<xs:element name="idParticella" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idRuolo" type="xs:decimal" minOccurs="1" />
					<xs:element name="ruolo" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idSoggetto" type="xs:decimal" minOccurs="1" />
					<xs:element name="denominazione" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceFiscale" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="pIva" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="indirizzo" minOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="128" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="SitiCollegatiType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idSito1sito2" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="80" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idSitoColleg" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="denomCollegato" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="150" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="TipoAttRifiutiType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				<xs:element name="idSitoTipoattrif" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="81" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="fkSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idTipoattrif" type="xs:decimal" minOccurs="1" />
					<xs:element name="tipoattRifiuti" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	
	<complexType name="MatriciContaminateType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idMatriceContam" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idTipoMatrice" type="xs:decimal" minOccurs="1" />
					<xs:element name="matrice" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="faseAccertr" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="tipoRilevatore" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="fkSoggetto" type="xs:decimal" minOccurs="0" />
					<xs:element name="denominazione" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceFiscale" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="16" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pIva" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="16" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="indirizzo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="128" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="note" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<!-- oggetti innestati -->
					<xs:element name="sostanzeContaminanti" type="decsiraogc_siticontaminati:SostanzeContaminantiPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="SostanzeContaminantiType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idMatriceSost" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="80" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idMatriceContam" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idSostanza" type="xs:decimal" minOccurs="1" />
					<xs:element name="sostanza" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="fkPadre" type="xs:decimal" minOccurs="1" />
					<xs:element name="classSost" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="assimilata" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="SorgentiInquiRifiutiType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idEvento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idCausa" type="xs:decimal" minOccurs="1" />
					<xs:element name="tipoAccertamento" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="causa" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="dettaglioEvento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<!-- oggetti innestati -->
					<xs:element name="inquiRifiuti" type="decsiraogc_siticontaminati:InquiRifiutiPropertyType" minOccurs="0" maxOccurs="1" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="InquiRifiutiType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				<xs:element name="fkEvento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idEventoRifiuto" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="80" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idTipoRifiuto" type="xs:decimal" minOccurs="1" />
					<xs:element name="tipoRifiuto" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="tipoAbbandono" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="SorgentiInquiAltreType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				<xs:element name="idEvento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idEventoCausa" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="81" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idCausa" type="xs:decimal" minOccurs="1" />
					<xs:element name="causa" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="tipoAcertamento" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="dettaglioEvento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="IstruttoriaSitoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				<xs:element name="idAtto" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="fkSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="dataAtto" type="xs:date" minOccurs="0" />
					<xs:element name="fkDecTipoatto" type="xs:decimal" minOccurs="1" />
					<xs:element name="atto" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="fase" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="tipoSoggetto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="denominazione" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="indirizzo" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="127" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="fkSubarea" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="InizioConclLavoriType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				<xs:element name="idAtto" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="fkSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="dataAtto" type="xs:date" minOccurs="0" />
					<xs:element name="atto" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="tipoSoggetto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="denominazione" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="indirizzo" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="fkSubarea" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="SubareeType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="fkSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idSubarea" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="usoAut" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="superficie" type="xs:decimal" minOccurs="0" />
					<xs:element name="costoIntervento" type="xs:decimal" minOccurs="0" />
					<xs:element name="note" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	
	<complexType name="InterventiSitoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idTipoIntervento" type="xs:decimal" minOccurs="1" />
					<xs:element name="idSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idIntervento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="intervento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="docRif" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="200" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="durataIntervento" type="xs:decimal" minOccurs="1" />
					<xs:element name="mise" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="carattMise" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1000" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="fasi" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="200" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="numFasi" type="xs:decimal" minOccurs="0" />
					<xs:element name="note" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1000" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<!-- oggetti innestati -->
					<xs:element name="tecnologieIntervento" type="decsiraogc_siticontaminati:TecnologieInterventoPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="TecnologieInterventoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idTecnologia" type="xs:decimal" minOccurs="1" />
					<xs:element name="fkIntervento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="tecnologia" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="matrice" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="tipoTecn" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="200" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="volumePrg" type="xs:decimal" minOccurs="1" />
					<xs:element name="volumeEff" type="xs:decimal" minOccurs="1" />
					<xs:element name="flgConcentrResidue" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="notaTecnologia" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1000" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="ControlliMonitoraggiType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idControllo" type="xs:decimal" minOccurs="1" />
					<xs:element name="idSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="tipoControllo" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="matrice" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="periodicita" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="200" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="durata" type="xs:decimal" minOccurs="0" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="FinanziamentiType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="totaleFinanziato" type="xs:decimal" minOccurs="0" />
					<xs:element name="idSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idFinanziamento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="numTotaleFinanziato" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="dataTotaleFinanziato" type="xs:date" minOccurs="0" />
					<xs:element name="costoEffettivo" type="xs:decimal" minOccurs="0" />
					<xs:element name="numCostoEffettivo" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dataCostoEffettivo" type="xs:date" minOccurs="0" />
					
					<!-- oggetti innestati -->
					<xs:element name="finanzSoggetti" type="decsiraogc_siticontaminati:FinanzSoggettiPropertyType" minOccurs="0" maxOccurs="1" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="FinanzSoggettiType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idl6" type="xs:decimal" minOccurs="1" />
					<xs:element name="idFinanziamento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idSoggetto" type="xs:decimal" minOccurs="1" />
					<xs:element name="tipoSoggettoFinanz" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="denominazione" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceFiscale" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="pIva" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="indirizzo" minOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="129" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="percFinanz" type="xs:decimal" minOccurs="1" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="GaranzieFinanziarieType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idSito" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idFinanziamento" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="40" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="tipoSoggettoFideius" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="soggettoFideius" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codFiscFideius" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="16" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="pIvaSoggettoFideius" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="indirizzoFideius" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="127" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="entitaGaranzia" type="xs:decimal" minOccurs="1" />
					<xs:element name="dataScadPolizza" type="xs:date" minOccurs="0" />
					<xs:element name="tipoSoggettoContr" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="200" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="soggContraente" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="100" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="pIvasoggContraente" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="codFiscContraente" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="capitaleAssicurato" type="xs:decimal" minOccurs="0" />
					<xs:element name="indirizzoContraente" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="127" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="numAccettGaranzie" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dataAccettGaranzie" type="xs:date" minOccurs="0" />
					<xs:element name="percGaranzia" type="xs:decimal" minOccurs="0" />
					<xs:element name="numSvincolo" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dataSvincolo" type="xs:date" minOccurs="0" />
					<xs:element name="note" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1000" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<!-- property types -->
	<complexType name="ComuniInteressatiPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:ComuniInteressati" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="SoggettiSitoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:SoggettiSito" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
		
	
	<complexType name="ParticelleCatastaliPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:ParticelleCatastali" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="SitiCollegatiPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:SitiCollegati" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="TipoAttRifiutiPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:TipoAttRifiuti" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="MatriciContaminatePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:MatriciContaminate" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="SorgentiInquiAltrePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:SorgentiInquiAltre" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="SorgentiInquiRifiutiPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:SorgentiInquiRifiuti" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="InquiRifiutiPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:InquiRifiuti" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="IstruttoriaSitoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:IstruttoriaSito" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="InizioConclLavoriPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:InizioConclLavori" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="SubareePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:Subaree" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="ControlliMonitoraggiPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:ControlliMonitoraggi" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="FinanziamentiPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:Finanziamenti" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="FinanzSoggettiPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:FinanzSoggetti" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="GaranzieFinanziariePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:GaranzieFinanziarie" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="TecnologieInterventoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:TecnologieIntervento" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="InterventiSitoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:InterventiSito" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="SoggettiParticellaPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:SoggettiParticella" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="SoggettiParticellaSubareaPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:SoggettiParticellaSubarea" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="SostanzeContaminantiPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_siticontaminati:SostanzeContaminanti" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	
	
	
</schema>