security/app-schema/hale/derivazione.xsd

<?xml version="1.0"?>
<schema version="1.0" 
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
	xmlns:decsiraogc_derivazioni="http://www.regione.piemonte.it/ambiente/decsiraogc_derivazioni/1.0"
    targetNamespace="http://www.regione.piemonte.it/ambiente/decsiraogc_derivazioni/1.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<import namespace="http://www.opengis.net/gml/3.2" 
	schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" /> 
	
	
	<!-- elements -->
	<!-- here extend  gml:AbstractObject o gml:AbstractFeature -->
	
	<!-- decsira_geo_derivazione  id= id_derivazione-->
	<element name="Derivazione" type="decsiraogc_derivazioni:DerivazioneType" substitutionGroup="gml:AbstractFeature" />
	
	<!-- decsira_t_titolare_derivazione  id= id_titolare_derivazione-->
	<element name="TitolareDerivazione" type="decsiraogc_derivazioni:TitolareDerivazioneType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_titolari_raggruppamento  id= id_titolare_raggruppamento-->
	<element name="ComponentiRaggruppamento" type="decsiraogc_derivazioni:ComponentiRaggruppamentoType" substitutionGroup="gml:AbstractObject" />

	<!-- decsira_t_oggetto_associato_derivazioni  id= identificativo-->
	<element name="OggettoAssociatoDerivazione" type="decsiraogc_derivazioni:OggettoAssociatoDerivazioneType" substitutionGroup="gml:AbstractObject" />

	<!-- decsira_t_usi_derivazione  id= id_uso_tipouso_derivazione-->
	<element name="UsiDerivazione" type="decsiraogc_derivazioni:UsiDerivazioneType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_periodi_utilizzo_usi  id= id_periodo_utiliz_uso-->
	<element name="PeriodiUtilizzoUsi" type="decsiraogc_derivazioni:PeriodiUtilizzoUsiType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_deriv_sovracanone  id= id_comune_deriv-->
	<element name="SovracanoneDerivazione" type="decsiraogc_derivazioni:SovracanoneDerivazioneType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_deriv_acquedotti  id= id_acqued_deriv-->
	<element name="AcquedottiDerivazione" type="decsiraogc_derivazioni:AcquedottiDerivazioneType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_dati_specifici_uso_derivazione  id= id_dati_specif_uso-->
	<element name="DatiSpecificiUsoDerivazione" type="decsiraogc_derivazioni:DatiSpecificiUsoDerivazioneType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_deriv_captazioni  id= id_deriv_capt-->
	<element name="DerivazioniCaptazioni" type="decsiraogc_derivazioni:DerivazioniCaptazioniType" substitutionGroup="gml:AbstractObject" />
	
	
	<!-- types -->
	<!-- here extend gml:AbstractGMLType o gml:AbstractFeatureType -->
	
	<complexType name="DerivazioneType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
				
					<xs:element name="idDerivazione"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idoggtipoDeriv" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>

					<xs:element name="geometria" type="gml:GeometryPropertyType"  minOccurs="0" maxOccurs="1" />

					<xs:element name="codiceRilievoDeriv" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="fkIstanza"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="fkAttivita"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="codiceUtenza" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="dataDecorrenzaConcessione" type="xs:date" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="dataScadenzaEffettiva" type="xs:date" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="portataMaxDeriv" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="portataMedDeriv" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="volumeMaxDeriv" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="portataTotRestitDeriv" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="volAnnuoTotRestitDeriv" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					
					<xs:element name="flgSovracanone" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					
					<xs:element name="flgRivieraschi" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgBIM" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgUsoPromiscuo" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>

					<xs:element name="noteDerivazione" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="fkTipoDeriv"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="desTipoDeriv" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="fkStatoPraticaDeriv"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="desStatoPraticaDeriv" minOccurs="0"  maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="fkStato"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="desStatoDeriv" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="desStatoAutorizzazione" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="fkAutoritaCompetente"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="desAutoritaCompetente" minOccurs="0"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="classificazionePraticaDeriv" minOccurs="0"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="numProvv" minOccurs="0"  maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="dataAutorizProvv" type="xs:date" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="dataScadenzaProvv" type="xs:date" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="numPrese"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="numPozzi"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="numSorgenti"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="numFontanili"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="numTrinceeDrenanti"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="flgUsoEnergetico" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgUsoRiqualifEnerg" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgUsoProduzione" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgUsoLavagInerti" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgUsoZootecnico" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgUsoPiscicolo" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgUsoPotabile" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgUsoDomestico" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgUsoCivile" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgUsoAgricolo" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="elencoUsiLegge" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="elencoUsiEffettivi" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="elencoComuniDeriv" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="5000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgMisuratore" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<!-- oggetti innestati -->

					<xs:element name="titolareDerivazione" type="decsiraogc_derivazioni:TitolareDerivazionePropertyType" minOccurs="1" maxOccurs="1" />
					
					<xs:element name="oggettoAssociatoDerivazione" type="decsiraogc_derivazioni:OggettoAssociatoDerivazionePropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="usiDerivazione" type="decsiraogc_derivazioni:UsiDerivazionePropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="sovracanoneDerivazione" type="decsiraogc_derivazioni:SovracanoneDerivazionePropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="acquedottiDerivazione" type="decsiraogc_derivazioni:AcquedottiDerivazionePropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="derivazioniCaptazioni" type="decsiraogc_derivazioni:DerivazioniCaptazioniPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="TitolareDerivazioneType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element name="idTitolareDerivazione" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idDerivazione"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idTipoTitolare"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idTitolare"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idRaggruppamento"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="desTipoSoggetto" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="denomTitDeriv" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="cfTitDeriv" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="16" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="pivaTitDeriv" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="16" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="provinciaTitDeriv" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="comuneTitDeriv" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="indirizzoTitDeriv" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="130" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="telefonoTitDeriv" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="emailpecTitDeriv" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<!-- oggetti innestati -->

					<xs:element name="componentiRaggruppamento" type="decsiraogc_derivazioni:ComponentiRaggruppamentoPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="ComponentiRaggruppamentoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element name="idTitolareRaggruppamento" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idRaggruppamentoRaggr"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idTitolareRaggr"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idTipoTitolareRaggr"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="desTipoSoggettoRaggr" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="denomTitDerivRaggr" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="cfTitDerivRaggr" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="16" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="pivaTitDerivRaggr" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="16" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="provinciaTitDerivRaggr" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="comuneTitDerivRaggr" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="indirizzoTitDerivRaggr" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="telefonoTitDerivRaggr" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="emailpecTitDerivRaggr" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	<complexType name="OggettoAssociatoDerivazioneType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					
					<xs:element name="identificativo" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="idoggtipoprinc" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="tipoAlberatura" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="idDerivazione"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idOggetto"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idTipoOggetto"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="desTipoOggetto" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					 
					 <xs:element name="nomeWFS" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idStatoOggetto"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					 <xs:element name="codiceRocCaptColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element name="codiceRilCaptColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element name="denomCaptColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element name="codiceRilDerColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codiceRilRestColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codiceRilSerbColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codiceRilStazpColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codSiraStabColl" type="xs:integer" minOccurs="1" maxOccurs="1" />
					
					<xs:element name="nomeStabColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="310" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="comuneStabColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="nascostoCittadino" type="xs:boolean" minOccurs="0" maxOccurs="1" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="UsiDerivazioneType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					
					<xs:element name="idUsoTipousoDerivazione" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="idUsoTipouso" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="15" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="idDerivazioneUso"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idUso"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idTipoUso"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="desTipoUso" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="codiceRilievoUso" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="denominazioneUso" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="305" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="denominazioneUso" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="305" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="codiceSiraUso"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="elencoUsiUsiEffettivi" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="portataMediaUso" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="volumeMaxAnnuoUso" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<!-- oggetti innestati -->
					
					<xs:element name="periodiUtilizzoUsi" type="decsiraogc_derivazioni:PeriodiUtilizzoUsiPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="datiSpecificiUsoDerivazione" type="decsiraogc_derivazioni:DatiSpecificiUsoDerivazionePropertyType" minOccurs="1" maxOccurs="1" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="PeriodiUtilizzoUsiType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					
					<xs:element name="idPeriodoUso" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="idPeriodoUtilizzo"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idUsoTipouso" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="15" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="idUso"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idTipoUso"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="inizioPeriodoUso" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="5" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="finePeriodoUso" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="5" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="qMaxPeriodoUso" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="qMedPeriodoUso" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="SovracanoneDerivazioneType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					
					<xs:element name="idComusovraDeriv" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="idDerivazione"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idComusovra"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="codIstatComusovra" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="toponimoComusovra" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="provinciaComusovra" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="AcquedottiDerivazioneType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					
					<xs:element name="idAcquedDeriv" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="idDerivazione"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idOldSiriAcquedottoDeriv"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="denomAcquedottoDeriv" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="DatiSpecificiUsoDerivazioneType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					
					<xs:element name="idDatiSpecifUso" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="idUso"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idTipoUso"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idCollocEnerg"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="desCollocEnerg" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="potenzaNmaEner" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="energPaEner" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="potenzaNmaRiqual" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="energPaRiqual" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="flgIncavernaRiqual" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="5" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="potenzaNpompRiqual" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="energiaAnnuaPompRiqual" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="supIrrigabileAgric" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="flgBoccaNontassataAgric" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="5" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="supIrrigataAgric" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="flgIrrigScorrimAgric" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="5" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgIrrigAspersAgric" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="5" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgIrrigMicroirrAgric" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="5" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgIrrigSommersAgric" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="5" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="DerivazioniCaptazioniType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					
					<xs:element name="idDerivCapt" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="idDerivazione"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idOperaCapt"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="denomCidrsupPresa" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<!-- property types -->
	<complexType name="TitolareDerivazionePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_derivazioni:TitolareDerivazione" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="ComponentiRaggruppamentoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_derivazioni:ComponentiRaggruppamento" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="OggettoAssociatoDerivazionePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_derivazioni:OggettoAssociatoDerivazione" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="UsiDerivazionePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_derivazioni:UsiDerivazione" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="PeriodiUtilizzoUsiPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_derivazioni:PeriodiUtilizzoUsi" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="SovracanoneDerivazionePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_derivazioni:SovracanoneDerivazione" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>

	<complexType name="AcquedottiDerivazionePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_derivazioni:AcquedottiDerivazione" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="DatiSpecificiUsoDerivazionePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_derivazioni:DatiSpecificiUsoDerivazione" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="DerivazioniCaptazioniPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_derivazioni:DerivazioniCaptazioni" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
</schema>