security/app-schema/hale/fontanile.xsd

<?xml version="1.0"?>
<schema version="1.0" 
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
	xmlns:decsiraogc_operecaptazione="http://www.regione.piemonte.it/ambiente/decsiraogc_operecaptazione/1.0"
    targetNamespace="http://www.regione.piemonte.it/ambiente/decsiraogc_operecaptazione/1.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<import namespace="http://www.opengis.net/gml/3.2" 
	schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" /> 
	
	
	<!-- elements -->
	<!-- here extend  gml:AbstractObject o gml:AbstractFeature -->
	
	<!-- decsira_geo_fontanile  id= id_fontanile-->
	<element name="Fontanile" type="decsiraogc_operecaptazione:FontanileType" substitutionGroup="gml:AbstractFeature" />
	
	<!-- decsira_t_oggetto_associato_derivazioni  id= identificativo-->
	<element name="OggettoAssociatoFontanile" type="decsiraogc_operecaptazione:OggettoAssociatoFontanileType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_prelievo_perutenza_captazione  id= id_prelievo_utenza_captazione-->
	<element name="PrelievoPerUtenzaFontanile" type="decsiraogc_operecaptazione:PrelievoPerUtenzaFontanileType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_derivazioni_captazioni  id= id_deriv_capt-->
	<element name="FontanileDerivazione" type="decsiraogc_operecaptazione:FontanileDerivazioneType" substitutionGroup="gml:AbstractObject" />

	
	<!-- types -->
	<!-- here extend gml:AbstractGMLType o gml:AbstractFeatureType -->
	
	<complexType name="FontanileType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
				
					<xs:element name="idFontanile"  type="xs:integer" minOccurs="1" />

					<xs:element name="geomFontanile" type="gml:GeometryPropertyType" minOccurs="1" />

					<xs:element name="codiceROCFontanile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codiceRilievoFontanile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="denominazioneFontanile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="fkComuneFontanile"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="istatComuneFontanile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="desComuneFontanile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="siglaProvinciaFontanile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="desProvinciaFontanile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="localitaFontanile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="fkStatoFontanile"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="desStatoFontanile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="qMaxDerivFontanile" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="qMedDerivFontanile" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="volMaxConcFontanile" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="fkStatoEserFontanile"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="desStatoEserFontanile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codAssolutoFontanile"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="denomImpAcqFontanile" minOccurs="1" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="denomAcquedFontanile" minOccurs="1" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="fkAreaIdroFontanile"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="desAreaIdroFontanile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="fkBacIdroFontanile"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="desBacIdroFontanile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="fkBacIdromontFontanile"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="desBacIdromontFontanile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					
					<xs:element name="elencoDerivCodrilFontanile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="elencoDerivCodutenzaFontanile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="elencoDerivNclasPratFontanile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="flgMisuratoreFontanile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<!-- oggetti innestati -->

					<xs:element name="oggettoAssociatoFontanile" type="decsiraogc_operecaptazione:OggettoAssociatoFontanilePropertyType" minOccurs="0" maxOccurs="unbounded" />
				
					<xs:element name="prelievoPerUtenzaFontanile" type="decsiraogc_operecaptazione:PrelievoPerUtenzaFontanilePropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<xs:element name="fontanileDerivazione" type="decsiraogc_operecaptazione:FontanileDerivazionePropertyType" minOccurs="0" maxOccurs="unbounded" />
					
				</sequence>
            </extension>
        </complexContent>
    </complexType>
		
	<complexType name="OggettoAssociatoFontanileType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element name="identificativo" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idFontanile"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idOggetto"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idTipoOggetto"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="desTipoOggetto" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					 
					 <xs:element name="nomeWFS" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idStatoOggetto"  type="xs:integer" minOccurs="0" maxOccurs="1" />
					
					 <xs:element name="codiceRocCaptColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element name="codiceRilCaptColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element name="denomCaptColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element name="codiceRilDerColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="matricolaMisuColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codiceRilMisuColl" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	<complexType name="PrelievoPerUtenzaFontanileType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element name="idPrelievoUtenzaCaptazione" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="35" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idOperaCapt"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idDerivazione"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idPeriodoPrelievo"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="codAssoluto"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="fkTipoOggetto"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="deTipoOggetto" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					 
					<xs:element name="fkStatoDeriv"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="desStatoDeriv" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					<xs:element name="codiceRilievoDeriv" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					 <xs:element name="periodoPrelievoDa" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					 <xs:element name="periodoPrelievoA" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					<xs:element name="portataMaxDerivata" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="volumeMaxConcessione" type="xs:decimal" minOccurs="0" maxOccurs="1" />
					
					<xs:element name="fkStatoOpera"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="desStatoOpera" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="FontanileDerivazioneType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element name="idDerivCapt" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idDerivazione"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="idFontanile"  type="xs:integer" minOccurs="1" />
					
					<xs:element name="codiceRilievoDeriv" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="classificazionePratica" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoEnergetico" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoRiqualifEnergia" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoProduzione" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoLavagInerti" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoZootecnico" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoPiscicolo" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoPotabile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoDomestico" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoCivile" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element name="flgUsoAgricolo" minOccurs="0" maxOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4" />
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	
	<!-- property types -->
	<complexType name="OggettoAssociatoFontanilePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:OggettoAssociatoFontanile" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="PrelievoPerUtenzaFontanilePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:PrelievoPerUtenzaFontanile" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="FontanileDerivazionePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:FontanileDerivazione" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	

</schema>