security/app-schema/hale/impiantoRifiutiSmaltimAIA208.xsd

<?xml version="1.0"?>
<schema version="1.0" 
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
	xmlns:decsiraogc_rifiuti_smaltimento="http://www.regione.piemonte.it/ambiente/decsiraogc_rifiuti_smaltimento/1.0"
    targetNamespace="http://www.regione.piemonte.it/ambiente/decsiraogc_rifiuti_smaltimento/1.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<import namespace="http://www.opengis.net/gml/3.2" 
	schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" /> 
	
	
	<!-- elements -->
	<!-- here extend  gml:AbstractObject o gml:AbstractFeature -->
	
	<!-- decsira_geo_rifiuto_discarica_aia208  id= id_rifiuto_generico-->
	<element name="ImpiantoRifiutiSmaltimAIA208" type="decsiraogc_rifiuti_smaltimento:ImpiantoRifiutiSmaltimAIA208Type" substitutionGroup="gml:AbstractFeature" />
	
	<!-- decsira_geo_stabilimento  id= codice_sira-->
	<element name="StabilimentoSemplice" type="decsiraogc_rifiuti_smaltimento:StabilimentoSempliceType" substitutionGroup="gml:AbstractObject" />

	<!-- decsira_t_azienda  id= codice_sira-->
	<element name="Azienda" type="decsiraogc_rifiuti_smaltimento:AziendaType" substitutionGroup="gml:AbstractObject" />

	<!-- decsira_t_stabilimento_ateco  id= codice_sira-->
	<element name="AttivitaProdutImpRifiuti" type="decsiraogc_rifiuti_smaltimento:AttivitaProdutImpRifiutiType" substitutionGroup="gml:AbstractObject" />

	<!-- decsira_t_autorizzazione_amb  id = id_autorizzamb_sede-->
	<element name="AutorizAmbImpRifiuti" type="decsiraogc_rifiuti_smaltimento:AutorizAmbImpRifiutiType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_tipoimpianto_rifiuti  id = id_rifiuto_generico-->
	<element name="TipoImpiantoRifiuti" type="decsiraogc_rifiuti_smaltimento:TipoImpiantoRifiutiType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_linea_codicicer  id = identificativo-->
	<element name="LineaCodiciCER" type="decsiraogc_rifiuti_smaltimento:LineaCodiciCERType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_linea_impiantistica_recsmalt_AIA208  id = identificativo_linea-->
	<element name="LineaImpRecSmaltAIA208" type="decsiraogc_rifiuti_smaltimento:LineaImpRecSmaltAIA208Type" substitutionGroup="gml:AbstractObject" />

	<!-- decsira_t_linea_impiantistica_RecSmalt_AIA208  id = identificativo_linea-->
	<element name="OperazRecRifiutiAIA208" type="decsiraogc_rifiuti_smaltimento:OperazRecRifiutiAIA208Type" substitutionGroup="gml:AbstractObject" />

	<!-- decsira_t_linea_impiantistica_RecSmalt_AIA208  id = identificativo_linea-->
	<element name="OperazSmaltRifiutiAIA208" type="decsiraogc_rifiuti_smaltimento:OperazSmaltRifiutiAIA208Type" substitutionGroup="gml:AbstractObject" />
	
	
	<!-- types -->
	<!-- here extend gml:AbstractGMLType o gml:AbstractFeatureType -->
	
	<complexType name="ImpiantoRifiutiSmaltimAIA208Type">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
				
					<xs:element name="identificativoRifiutoGenerico"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idTipoOggetto" type="xs:integer"  maxOccurs="1" />

					<xs:element name="geometria" type="gml:GeometryPropertyType"  />

					<xs:element name="idAutorizzazioneAmbientale" type="xs:integer"  maxOccurs="1" />

					<xs:element name="idStato" type="xs:integer"  maxOccurs="1" />

					<xs:element name="desStato"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="istatComune" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desComune" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="istatProvincia" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desProvincia" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceSira" type="xs:integer"  maxOccurs="1" />

					<xs:element name="numeroProvveIscrizione" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="dataProvvIscrizione" type="xs:date" minOccurs="0" maxOccurs="1" />

					<xs:element name="dataScadenza" type="xs:date" minOccurs="0" maxOccurs="1" />

					<xs:element name="rifiutoPericoloso" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="elencoTipologiaImpiantisticaRifiuto" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="elencoOperazioniRecupero" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="elencoOperazioniSmaltimento" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="numeroLineeImpianto" type="xs:integer"  maxOccurs="1" />

					<xs:element name="capacitaSmaltMc" type="xs:integer"  maxOccurs="1" />

					<xs:element name="capacitaSmaltT" type="xs:integer"  maxOccurs="1" />

					<xs:element name="potenzialitaAutorizzata" type="xs:integer"  maxOccurs="1" />

					<xs:element name="interesseNazionale"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<!-- oggetti innestati -->

					<xs:element name="stabilimentoSemplice" type="decsiraogc_rifiuti_smaltimento:StabilimentoSemplicePropertyType" maxOccurs="1" />

					<xs:element name="azienda" type="decsiraogc_rifiuti_smaltimento:AziendaPropertyType" maxOccurs="1" />

					<xs:element name="attivitaProdutImpRifiuti" type="decsiraogc_rifiuti_smaltimento:AttivitaProdutImpRifiutiPropertyType" minOccurs="0" maxOccurs="unbounded" />

					<xs:element name="autorizAmbImpRifiuti" type="decsiraogc_rifiuti_smaltimento:AutorizAmbImpRifiutiPropertyType" maxOccurs="1" />
					<xs:element name="tipoImpiantoRifiuti" type="decsiraogc_rifiuti_smaltimento:TipoImpiantoRifiutiPropertyType" minOccurs="1" maxOccurs="unbounded" />
					<xs:element name="lineaCodiciCER" type="decsiraogc_rifiuti_smaltimento:LineaCodiciCERPropertyType" minOccurs="0" maxOccurs="unbounded" />

					<xs:element name="lineaImpRecSmaltAIA208" type="decsiraogc_rifiuti_smaltimento:LineaImpRecSmaltAIA208PropertyType" minOccurs="1" maxOccurs="unbounded" />

                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="StabilimentoSempliceType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="codiceSIRA" type="xs:integer"  maxOccurs="1" />

					<xs:element name="nome" minOccurs="0" maxOccurs="1" />
					<xs:element name="istatComune"  maxOccurs="1" />
					<xs:element name="nomeComune"  maxOccurs="1" />
					<xs:element name="istatProvincia"  maxOccurs="1" />
					<xs:element name="desProvincia"  maxOccurs="1" />
					<xs:element name="indirizzo" minOccurs="0" maxOccurs="1" />
					<xs:element name="emailPec" minOccurs="0" maxOccurs="1" />
					<xs:element name="industriaAgroAlimentare" minOccurs="0" maxOccurs="1" />
					<xs:element name="ricircoloInterno" minOccurs="0" maxOccurs="1" />
					<xs:element name="modalitaRicircolo" minOccurs="0" maxOccurs="1" />
					<xs:element name="percentualeRicircolo" type="xs:decimal" minOccurs="0" maxOccurs="1" />

					<xs:element name="volumeAnnuoRicircolo" type="xs:decimal" minOccurs="0" maxOccurs="1" />

					<xs:element name="volumeGiornoRicircolo" type="xs:decimal" minOccurs="0" maxOccurs="1" />

					<xs:element name="idStato " type="xs:integer" minOccurs="0" maxOccurs="1" />

					<xs:element name="desStato" minOccurs="0" maxOccurs="1" />
					<xs:element name="tipoProvvedimentoAttivo" minOccurs="0" maxOccurs="1" />
					<xs:element name="tipoProvvedimentoStorico" minOccurs="0" maxOccurs="1" />
					<xs:element name="tematica" minOccurs="0" maxOccurs="1" />
					<xs:element name="idTipologiaImpianto" minOccurs="0" maxOccurs="1" />
					<xs:element name="desTipologiaImpianto" minOccurs="0" maxOccurs="1" />
					<xs:element name="abitantiEquivalentiTrattati" type="xs:decimal" minOccurs="0" maxOccurs="1" />

					<xs:element name="idDepuratore" type="xs:integer" minOccurs="0" maxOccurs="1" />

                </sequence>
            </extension>
        </complexContent>
    </complexType>
	

	<complexType name="AziendaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idAzienda"  maxOccurs="1" />
				
					<xs:element name="codiceFiscale" minOccurs="0" maxOccurs="1" />
					<xs:element name="partitaIva" minOccurs="0" maxOccurs="1" />
					<xs:element name="denominazione"  maxOccurs="1" />
					<xs:element name="fkL2" type="xs:integer" minOccurs="0" maxOccurs="1" />

					<xs:element name="indirizzo" minOccurs="0" maxOccurs="1" />
					<xs:element name="istatComune"  maxOccurs="1" />
					<xs:element name="desComune" minOccurs="0" maxOccurs="1" />
					<xs:element name="istatProvincia"  maxOccurs="1" />
					<xs:element name="desProvincia"  maxOccurs="1" />
					<xs:element name="telefono" minOccurs="0" maxOccurs="1" />
					<xs:element name="fax" minOccurs="0" maxOccurs="1" />
					<xs:element name="cognomeTitolare"  maxOccurs="1" />
					<xs:element name="nomeTitolare"  maxOccurs="1" />
					<xs:element name="numeroCIAA" minOccurs="0" maxOccurs="1" />
					<xs:element name="annoCIAA" type="xs:integer" minOccurs="0" maxOccurs="1" />

					<xs:element name="codiceSira" type="xs:integer" minOccurs="0" maxOccurs="1" />


                </sequence>
            </extension>
        </complexContent>
    </complexType>


	<complexType name="AttivitaProdutImpRifiutiType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idStabilimentoAteco"  maxOccurs="1" />
					<xs:element name="codAteco"  maxOccurs="1" />
					<xs:element name="desAteco"  maxOccurs="1" />
					<xs:element name="codiceSira" type="xs:integer"  maxOccurs="1" />


                </sequence>
            </extension>
        </complexContent>
    </complexType>

	
	<complexType name="AutorizAmbImpRifiutiType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idAutorizzazioneAmbientaleSede" type="xs:string" maxOccurs="1" />

					<xs:element name="idAutorizzazioneAmbientale" type="xs:decimal"  maxOccurs="1" />

					<xs:element name="idAttivita" type="xs:integer"  maxOccurs="1" />

					<xs:element name="idTipoProvvedimento" type="xs:decimal"  maxOccurs="1" />

					<xs:element name="tipoProvvedimento" type="xs:string" maxOccurs="1" />

					<xs:element name="estremiProvvedimento" type="xs:string" minOccurs="0" maxOccurs="1" />

					<xs:element name="dataProvvedimento" type="xs:date" minOccurs="0" maxOccurs="1" />

					<xs:element name="dataScadenza" type="xs:date" minOccurs="0" maxOccurs="1" />

					<xs:element name="idEnteCompetente" type="xs:integer" minOccurs="0" maxOccurs="1" />

					<xs:element name="desEnteCompetente" type="xs:string" minOccurs="0" maxOccurs="1" />

					<xs:element name="codiceSira" type="xs:integer"  maxOccurs="1" />

					<xs:element name="idStato" type="xs:integer" minOccurs="0" maxOccurs="1" />

					<xs:element name="desStato" type="xs:string" minOccurs="0" maxOccurs="1" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	<complexType name="TipoImpiantoRifiutiType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="identificativoUnivoco"  maxOccurs="1" />
					<xs:element name="identificativoRifiutoGenerico"  maxOccurs="1" />
					<xs:element name="idTipoImpiantoRifiuto" type="xs:integer" minOccurs="0" maxOccurs="1" />
					<xs:element name="desTipoImpiantoRifiuto" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>

                </sequence>
            </extension>
        </complexContent>
    </complexType>


	<complexType name="LineaCodiciCERType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="identificativoUnivoco"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="identificativoRifiutoGenerico"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codLinea" type="xs:integer"  maxOccurs="1" />

					<xs:element name="famigliaCER"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="8" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="classeCER"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="8" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="codiceCER"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="8" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desCER"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="300" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	


	<complexType name="LineaImpRecSmaltAIA208Type">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="identificativoLinea"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="identificativoRifiutoGenerico"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idLineaImpiantistica" type="xs:integer"  maxOccurs="1" />

					<xs:element name="tipologImpiant"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desAltraTipologImpiant"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="quantitaAutorizT" type="xs:integer"  maxOccurs="1" />

					<xs:element name="quantitaAutorizMc" type="xs:integer"  maxOccurs="1" />

					<xs:element name="operazRecRifiutiAIA208" type="decsiraogc_rifiuti_smaltimento:OperazRecRifiutiAIA208PropertyType" minOccurs="1" maxOccurs="unbounded" />
					<xs:element name="operazSmaltRifiutiAIA208" type="decsiraogc_rifiuti_smaltimento:OperazSmaltRifiutiAIA208PropertyType" minOccurs="1" maxOccurs="unbounded" />


                </sequence>
            </extension>
        </complexContent>
    </complexType>

	
	<complexType name="OperazRecRifiutiAIA208Type">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idRecuperoRifiuto"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="identificativoLinea"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idOperazRec" type="xs:integer"  maxOccurs="1" />

					<xs:element name="codOperazRec"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desOperazRec"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>


	<complexType name="OperazSmaltRifiutiAIA208Type">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idSmaltimentoRifiuto"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="identificativoRifiutoGenerico"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="identificativoLinea"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idOperazSmalt" type="xs:integer"  maxOccurs="1" />

					<xs:element name="codOperazSmalt"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="desOperazSmalt"  maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	
	<!-- property types -->
	<complexType name="StabilimentoSemplicePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti_smaltimento:StabilimentoSemplice" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="AziendaPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti_smaltimento:Azienda" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>

	<complexType name="AttivitaProdutImpRifiutiPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti_smaltimento:AttivitaProdutImpRifiuti" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="AutorizAmbImpRifiutiPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti_smaltimento:AutorizAmbImpRifiuti" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>

	<complexType name="LineaCodiciCERPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti_smaltimento:LineaCodiciCER" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>

	<complexType name="LineaImpRecSmaltAIA208PropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti_smaltimento:LineaImpRecSmaltAIA208" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>

	<complexType name="OperazRecRifiutiAIA208PropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti_smaltimento:OperazRecRifiutiAIA208" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="OperazSmaltRifiutiAIA208PropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti_smaltimento:OperazSmaltRifiutiAIA208" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="TipoImpiantoRifiutiPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_rifiuti_smaltimento:TipoImpiantoRifiuti" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>

	
</schema>