security/app-schema/hale/impianto.xsd

<?xml version="1.0"?>
<schema version="1.0" 
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:decsiraogc_impianti="http://www.regione.piemonte.it/ambiente/decsiraogc_impianti/1.0"
    targetNamespace="http://www.regione.piemonte.it/ambiente/decsiraogc_impianti/1.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <import namespace="http://www.opengis.net/gml/3.2" 
	schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" />
	
	
	<!-- elements -->
	<!-- qui estendono gml:AbstractObject o gml:AbstractFeature -->
	
	<!-- decsira_geo_impianto -->
	<element name="Impianto" type="decsiraogc_impianti:ImpiantoType" substitutionGroup="gml:AbstractFeature" />
	
	<!-- decsira_t_sorgenti_rum -->
	<element name="VerificaSorgentiRumorose" type="decsiraogc_impianti:VerificaSorgentiRumoroseType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_autorizzazione_amb -->
	<element name="AutorizzAmbientaleImpianto" type="decsiraogc_impianti:AutorizzAmbientaleImpiantoType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_TematicaAttivita -->
	<element name="TematicaAttivita" type="decsiraogc_impianti:TematicaAttivitaType" substitutionGroup="gml:AbstractObject" />
	
	<!-- decsira_t_oggetto_associato_derivazioni -->
	<element name="OggettoAssociatoImpianto" type="decsiraogc_impianti:OggettoAssociatoImpiantoType" substitutionGroup="gml:AbstractFeature" />
	
	
	<!-- types -->
	<!-- qui estendono gml:AbstractGMLType o gml:AbstractFeatureType -->
	
	<complexType name="ImpiantoType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
				    
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="1" />
					
					<xs:element name="idOggTipo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="15" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="nome" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="istatComune" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="desComune" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>				
					
					<xs:element name="istatProvincia" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="3" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="desProvincia" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="indirizzo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="emailPec" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="denominAzienda" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codFiscaleAzienda" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="16" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="partitaIVAAzienda" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="11" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="indirizzoAzienda" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="istatComuneAzienda" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="desComuneAzienda" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="istatProvinciaAzienda" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="3" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="desProvinciaAzienda" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="cognomeTitolareAzienda" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="nomeTitolareAzienda" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idStatoImpianto" type="xs:integer" minOccurs="0" />
					
					<xs:element name="desStatoImpianto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="tipoProvvedimentoAttivo" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="tipoProvvedimentoStorico" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="desTematicaAttivita" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="dataUltimaAutorizProposta" type="xs:date" minOccurs="0" />
					
					<xs:element name="dataUltimaAutoriz" type="xs:date" minOccurs="0" />
					
					<xs:element name="dataScadenzaUltimaAutoriz" type="xs:date" minOccurs="0" />
								
					<xs:element name="codiceIstanzaUltimaAutoriz" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="geometria" type="gml:GeometryPropertyType" minOccurs="1" />
					
					<!-- innesto oggetti piu complessi -->
					
					<!-- qui ci vuole un join -->
					<xs:element name="verificaSorgentiRumorose" type="decsiraogc_impianti:VerificaSorgentiRumorosePropertyType" minOccurs="0" maxOccurs="unbounded" />
					
					<!-- qui ci vuole un join -->
					<xs:element name="autorizzAmbientaleImpianto" type="decsiraogc_impianti:AutorizzAmbientaleImpiantoPropertyType" minOccurs="0" maxOccurs="unbounded" />
	
					<!-- qui ci vuole un join -->
					<xs:element name="oggettoAssociatoImpianto" type="decsiraogc_impianti:OggettoAssociatoImpiantoPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="VerificaSorgentiRumoroseType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element name="idSorgenteRumorosa" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codiceSira" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="idRumorosita" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="desRumorosita" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="AutorizzAmbientaleImpiantoType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element name="idAutorizzAmbientaleSede" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idIstanza" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="codiceIstanza" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idAttivita" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="idTipoProvvedimento" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="tipoProvvedimento" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="tematica" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="estremiProvvedimento" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="dataProvvedimento" type="xs:date" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="dataScadenza" type="xs:date" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="idEnteCompetente" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="desEnteCompetente" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codiceSira" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="idStato" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="desStato" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<!-- qui ci vuole un join -->
					<xs:element name="tematicaAttivita" type="decsiraogc_impianti:TematicaAttivitaPropertyType" minOccurs="0" maxOccurs="unbounded" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="TematicaAttivitaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element name="identificativo" minOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idIstanza"  type="xs:integer" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="idAttivita" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="idTematica" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="desTematica" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codiceSira" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="OggettoAssociatoImpiantoType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
					<xs:element name="identificativo" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="idOggTipoPrinc" minOccurs="1" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="tipoAlberatura" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element name="tipoOggPrinc" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="idOggettoPrinc" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idOggetto" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idTipoOggetto" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="desTipoOggetto" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="nomeWFS" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="idStatoOggetto" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="idIstanza" type="xs:integer" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="estremiAtto" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="dataRilascio" type="xs:date" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="dataScadenza" type="xs:date" minOccurs="0" maxOccurs="1"/>
						
					<xs:element name="codiceSiraImpianto" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="nomeImpianto" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="305" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="comuneImpianto" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codiceRilDerColl" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="codiceScarico" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="siglaPuntoEmiss" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="nomeDepuratore" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element name="nascostoCittadino" type="xs:boolean" minOccurs="0" maxOccurs="1" />
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<!-- property types -->
	
	<complexType name="VerificaSorgentiRumorosePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_impianti:VerificaSorgentiRumorose" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="AutorizzAmbientaleImpiantoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_impianti:AutorizzAmbientaleImpianto" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="TematicaAttivitaPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_impianti:TematicaAttivita" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
	<complexType name="OggettoAssociatoImpiantoPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_impianti:OggettoAssociatoImpianto" />
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup" />
        <attributeGroup ref="gml:OwnershipAttributeGroup" />
    </complexType>
	
</schema>