security/app-schema/mappings/decsiraogc_scarichi/sfioratore/_schemas/sfioratore.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:decsiraogc_scarichi="http://www.regione.piemonte.it/ambiente/decsiraogc_scarichi/1.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.regione.piemonte.it/ambiente/decsiraogc_scarichi/1.0" version="1.0">
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="0/gml.xsd"/>
		
	<!-- elements -->
	<!-- qui estendono gml:AbstractObject o gml:AbstractFeature -->
	
	<!-- decsira_geo_sfioratore -->
	<element name="Sfioratore" substitutionGroup="gml:AbstractFeature" type="decsiraogc_scarichi:SfioratoreType"/>
	
	<!-- decsira_t_istanza_autorizzativa -->
	<element name="AutorizzAmbientaleSfioratore" substitutionGroup="gml:AbstractObject" type="decsiraogc_scarichi:AutorizzAmbientaleSfioratoreType"/>
	
	<!-- decsira_t_oggetto_associato_derivazioni -->
	<element name="OggettoAssociatoSfioratore" substitutionGroup="gml:AbstractObject" type="decsiraogc_scarichi:OggettoAssociatoSfioratoreType"/>
	
	<!-- types -->
	<!-- qui estendono gml:AbstractGMLType o gml:AbstractFeatureType -->
	
	<complexType name="SfioratoreType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
				
					<xs:element minOccurs="1" name="idPuntoScaricatore" type="xs:integer"/>
					
					<xs:element minOccurs="0" name="codiceRegionaleSfioratore">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="codiceProvincialeSfioratore">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="codiceEuropeoSfioratore">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>		

					<xs:element minOccurs="1" name="istatComune">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="3"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="desComune">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>					
					
					<xs:element minOccurs="1" name="istatProvincia">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="3"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="desProvincia">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="idTipoRecettore" type="xs:integer"/>
					
					<xs:element minOccurs="0" name="desTipoRecettore">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="denominazioneRecettore">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="flgCorsoNaturale">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="codiceSira" type="xs:decimal"/>
					
					<xs:element minOccurs="0" name="idAutorizzazioneAmbientale" type="xs:integer"/>
					
					<xs:element minOccurs="0" name="codiceIstanza">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="idStato" type="xs:integer"/>
					
					<xs:element minOccurs="0" name="desStato">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="numAEFogn" type="xs:integer"/>
					
					<xs:element minOccurs="0" name="portataAttivaz" type="xs:decimal"/>
					
					<xs:element minOccurs="0" name="portataMedia" type="xs:decimal"/>
					
					<xs:element minOccurs="0" name="portataInnesc" type="xs:decimal"/>
					
					<xs:element minOccurs="0" name="idOggTipo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="15"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="coordX" type="xs:decimal"/>
					
					<xs:element minOccurs="0" name="coordY" type="xs:decimal"/>
					
					<xs:element minOccurs="1" name="geometria" type="gml:GeometryPropertyType"/>
					
					<!-- innesto oggetti piu complessi -->
					
					<!-- qui ci vuole un join -->
					<xs:element maxOccurs="unbounded" minOccurs="0" name="autorizzAmbientaleSfioratore" type="decsiraogc_scarichi:AutorizzAmbientaleSfioratorePropertyType"/>
	
					<!-- qui ci vuole un join -->
					<xs:element maxOccurs="unbounded" minOccurs="0" name="oggettoAssociatoSfioratore" type="decsiraogc_scarichi:OggettoAssociatoSfioratorePropertyType"/>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	<complexType name="AutorizzAmbientaleSfioratoreType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>

					<xs:element minOccurs="1" name="idIstanzaAutorizzativa">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idIstanza" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceIstanza">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idTipoProvvedimento" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="tipoProvvedimento">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="tematica">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="estremiProvvedimento">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="dataProvvedimento" type="xs:date"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="dataScadenza" type="xs:date"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idEnteCompetente" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desEnteCompetente">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceSira" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idStato" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desStato">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<complexType name="OggettoAssociatoSfioratoreType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
					<xs:element minOccurs="1" name="identificativo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					<xs:element minOccurs="1" name="idOggTipoPrinc">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="tipoAlberatura">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="tipoOggPrinc" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idOggettoPrinc">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idOggetto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idTipoOggetto" type="xs:integer"/>
					
					<xs:element minOccurs="0" name="desTipoOggetto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="0" name="nomeWFS">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idStatoOggetto" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idIstanza" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="estremiAtto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="dataRilascio" type="xs:date"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="dataScadenza" type="xs:date"/>
						
					<xs:element maxOccurs="1" minOccurs="0" name="codiceSiraImpianto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="nomeImpianto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="305"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="comuneImpianto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceRilDerColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceScarico">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="siglaPuntoEmiss">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="nomeDepuratore">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="nascostoCittadino" type="xs:boolean"/>
					
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	
	<!-- property types -->
	
	<complexType name="AutorizzAmbientaleSfioratorePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_scarichi:AutorizzAmbientaleSfioratore"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	<complexType name="OggettoAssociatoSfioratorePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_scarichi:OggettoAssociatoSfioratore"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
</schema>