security/app-schema/mappings/decsiraogc_operecaptazione/trincea/_schemas/trincea.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:decsiraogc_operecaptazione="http://www.regione.piemonte.it/ambiente/decsiraogc_operecaptazione/1.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.regione.piemonte.it/ambiente/decsiraogc_operecaptazione/1.0" version="1.0">
	
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="0/gml.xsd"/> 
	
	
	<!-- elements -->
	<!-- here extend  gml:AbstractObject o gml:AbstractFeature -->
	
	<!-- decsira_geo_trincea_drenante  id= id_trincea_dren -->
	<element name="TrinceaDrenante" substitutionGroup="gml:AbstractFeature" type="decsiraogc_operecaptazione:TrinceaDrenanteType"/>
	
	<!-- decsira_t_oggetto_associato_derivazioni  id= identificativo -->
	<element name="OggettoAssociatoTrincea" substitutionGroup="gml:AbstractObject" type="decsiraogc_operecaptazione:OggettoAssociatoTrinceaType"/>
	
	<!-- decsira_t_prelievo_perutenza_captazione  id= id_prelievo_utenza_captazione -->
	<element name="PrelievoPerUtenzaTrincea" substitutionGroup="gml:AbstractObject" type="decsiraogc_operecaptazione:PrelievoPerUtenzaTrinceaType"/>
	
	<!-- decsira_t_derivazioni_captazioni  id= id_deriv_capt-->
	<element name="TrinceaDerivazione" substitutionGroup="gml:AbstractObject" type="decsiraogc_operecaptazione:TrinceaDerivazioneType"/>

	
	<!-- types -->
	<!-- here extend gml:AbstractGMLType o gml:AbstractFeatureType -->
	
	<complexType name="TrinceaDrenanteType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
				
					<xs:element minOccurs="1" name="idTrinceaDren" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idoggtipoTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>

					<xs:element minOccurs="1" name="geomTrincea" type="gml:GeometryPropertyType"/>

					<xs:element maxOccurs="1" minOccurs="0" name="codiceROCTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceRilievoTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="denominazioneTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkComuneTrincea" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="istatComuneTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desComuneTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="siglaProvinciaTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desProvinciaTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="localitaTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="fkStatoTrincea" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desStatoTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="qMaxDerivTrincea" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="qMedDerivTrincea" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="volMaxConcTrincea" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkStatoEserTrincea" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desStatoEserTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="svilLongTrincea" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="profMaxTrincea" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="profMinTrincea" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="inclinazioneTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="codAssolutoTrincea" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="1" name="denomImpAcqTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="1" name="denomAcquedTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkAreaIdroTrincea" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desAreaIdroTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkBacIdroTrincea" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desBacIdroTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="fkBacIdromontTrincea" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desBacIdromontTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="elencoDerivCodrilTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="elencoDerivCodutenzaTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="elencoDerivNclasPratTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="500"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgMisuratoreTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoPotabileTrincea">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<!-- oggetti innestati -->

					<xs:element maxOccurs="unbounded" minOccurs="0" name="oggettoAssociatoTrincea" type="decsiraogc_operecaptazione:OggettoAssociatoTrinceaPropertyType"/>
				
					<xs:element maxOccurs="unbounded" minOccurs="0" name="prelievoPerUtenzaTrincea" type="decsiraogc_operecaptazione:PrelievoPerUtenzaTrinceaPropertyType"/>
					
					<xs:element maxOccurs="unbounded" minOccurs="0" name="trinceaDerivazione" type="decsiraogc_operecaptazione:TrinceaDerivazionePropertyType"/>
					
				</sequence>
            </extension>
        </complexContent>
    </complexType>
		
	<complexType name="OggettoAssociatoTrinceaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="identificativo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idoggtipoprinc">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="tipoAlberatura">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
						</xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idTrincea" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idOggetto" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idTipoOggetto" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="desTipoOggetto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					 
					 <xs:element minOccurs="1" name="nomeWFS">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="idStatoOggetto" type="xs:integer"/>
					
					 <xs:element maxOccurs="1" minOccurs="0" name="codiceRocCaptColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element maxOccurs="1" minOccurs="0" name="codiceRilCaptColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element maxOccurs="1" minOccurs="0" name="denomCaptColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					 <xs:element maxOccurs="1" minOccurs="0" name="codiceRilDerColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="matricolaMisuColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceRilMisuColl">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="nascostoCittadino" type="xs:boolean"/>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	<complexType name="PrelievoPerUtenzaTrinceaType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="idPrelievoUtenzaCaptazione">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="35"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idOperaCapt" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idDerivazione" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idPeriodoPrelievo" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="codAssoluto" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="fkTipoOggetto" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="deTipoOggetto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
						</xs:simpleType>
					 </xs:element>
					 
					<xs:element minOccurs="1" name="fkStatoDeriv" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desStatoDeriv">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					<xs:element maxOccurs="1" minOccurs="0" name="codiceRilievoDeriv">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					 <xs:element maxOccurs="1" minOccurs="0" name="periodoPrelievoDa">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					 <xs:element maxOccurs="1" minOccurs="0" name="periodoPrelievoA">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					 
					<xs:element maxOccurs="1" minOccurs="0" name="portataMaxDerivata" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="portataMedDerivata" type="xs:decimal"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="volumeMaxConcessione" type="xs:decimal"/>
					
					<xs:element minOccurs="1" name="fkStatoOpera" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="desStatoOpera">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>
	
	<complexType name="TrinceaDerivazioneType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
				
					<xs:element minOccurs="1" name="idDerivCapt">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
					
					<xs:element minOccurs="1" name="idDerivazione" type="xs:integer"/>
					
					<xs:element minOccurs="1" name="idTrinceaDren" type="xs:integer"/>
					
					<xs:element maxOccurs="1" minOccurs="0" name="codiceRilievoDeriv">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="classificazionePratica">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoEnergetico">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoRiqualifEnergia">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoProduzione">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoLavagInerti">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoZootecnico">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoPiscicolo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoPotabile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoDomestico">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoCivile">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
					
					<xs:element maxOccurs="1" minOccurs="0" name="flgUsoAgricolo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="4"/>
                            </xs:restriction>
						</xs:simpleType>
					</xs:element>
				
                </sequence>
            </extension>
        </complexContent>
    </complexType>

	
	<!-- property types -->
	<complexType name="OggettoAssociatoTrinceaPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:OggettoAssociatoTrincea"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	<complexType name="PrelievoPerUtenzaTrinceaPropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:PrelievoPerUtenzaTrincea"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	
	<complexType name="TrinceaDerivazionePropertyType">
        <sequence minOccurs="0">
            <element ref="decsiraogc_operecaptazione:TrinceaDerivazione"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
	

</schema>